block variables

doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="robots" content="noindex, nofollow")
		meta(content="" name="author")
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")

		link(rel="shortcut icon" href="assets/img/favicon.png")

		link(href="https://fonts.googleapis.com/css?family=Lato:300,700,900" rel="stylesheet")
		link(rel='stylesheet' href='assets/css/foundation.css')
		link(rel='stylesheet' href='assets/css/app.css')
		link(rel='stylesheet' href='assets/css/modules/swiper.min.css')
		script(src='assets/js/foundation.js' defer)
		script(src='assets/js/app.js' defer)

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->

	body
		include common/_mixins
		include common/_header
		main.main
			block content
		include common/_footer
