.cart {
	position: relative;
	top: 14px;
	
	&__table {
		width: 100%;
		border-spacing: 0;
		border: 1px solid #dedede;
		border-bottom: 0;
		
		th {
			background: #f7f7f7;
			text-align: left;
			padding: 14px 20px;
			border-bottom: 1px solid #dedede;
		}
		td {
			border-bottom: 1px solid #dedede;
			padding: 20px;
			
			&:last-child, &:nth-last-child(2) {
				width: 15%;
				
				@include tablets() {
					width: auto;
				}
			}

			&:nth-last-child(2) {
				width: 12%;

				@include tablets() {
					width: auto;
				}
			}
			
			@include tablets() {
				border-bottom: 0 none;
				padding: 13px;
			}
		}
		tr {
			@include tablets() {
				display: flex;
				align-items: center;
				flex-flow: column nowrap;
				border-bottom: 1px solid #dedede;
				padding: 10px 0 20px;
			}
		}
	}
	&__head {
		@include tablets() {
			display: none !important;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		
		@include tablets() {
			flex-flow: column nowrap;
		}
		
		&_price {
			@include tablets() {
				font-size: 18px;
				
				&:before {
					content: 'Price each: ';
					color: #999999;
				}
			}
		}

		&_total {
			@include tablets() {
				font-size: 18px;
				
				&:before {
					content: 'Cost: ';
					color: #999999;
				}
			}
		}
	}
	&__image {
		margin-right: 19px;
		border-bottom: 0 none;
		
		@include tablets() {
			margin-bottom: 19px;
			margin-right: 0;
		}
	}
	&__remove {
		&:before {
			background: url('../img/icon-remove.jpg') no-repeat;
			width: 11px;
			height: 11px;
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			transition: background $transition;
		}
		
		&:hover:before {
			background: url('../img/icon-remove_active.jpg') no-repeat;
		}
		
		a:hover {
			color: #e32d3a;
			border-color: #cccccc;
		}
	}
	&__count_block {
		border-radius: 3px;
		border: 1px solid #dedede;
		display: flex;
		align-items: center;
		width: 118px;
	}
	&__button {
		width: 36px;
		height: 36px;
		background: #efefef;
		border: 0;
		cursor: pointer;
		outline: 0;
		transition: background $transition;
		
		&:hover {
			background: darken(#efefef, 5%);
		}
		&:active {
			background: darken(#efefef, 15%);
		}
		&:after {
			transition: border-color $transition;
		}
		&--less:after {
			display: inline-block;
			vertical-align: middle;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 6px 6px 0;
			border-color: transparent #303030 transparent transparent;
		}
		&--less.cart__button--disabled:after {
			border-color: transparent #bfbfbf transparent transparent;
		}
		&--more:after {
			display: inline-block;
			vertical-align: middle;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 0 6px 6px;
			border-color: transparent transparent transparent #303030;
		}
		&--more.cart__button--disabled:after {
			border-color: transparent transparent transparent #bfbfbf;
		}
	}
	&__count {
		width: 46px;
		border: 0;
		text-align: center;
	}
	
	&__total {
		border: 1px solid #dedede;
		border-top: 0 none;
		padding: 28px 0 17px;
		
		@include tablets() {
			background: #f7f7f7;
		}
		
		&_block {
			left: 65%;
			position: relative;
			display: inline-block;
			
			@include tablets() {
				left: 0;
				text-align: center;
				display: block;
			}
		}
		
		&_price {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 1px;
			
			@include tablets() {
				font-size: 23px;
				line-height: 27.6px;
			}
			
			strong {
				font-weight: 900;
				margin-left: 14px;
			}
		}
		
		&_note {
			color: #777777;
			font-size: 13px;
			line-height: 15.6px;
			
			@include tablets() {
				font-size: 14px;
				line-height: 16.8px;
			}
		}
	}
	
	&__checkout {
		margin: 30px 0;
		text-align: right;
		
		@include tablets() {
			text-align: center;
		}
	}
	
	&__link {
		line-height: 18px;
		
		@include phones() {
			text-align: center;
			border-bottom: 0 none;
		}
	}
}