.category_left {
	order: -1;
	position: relative;
	top: 29px;
	
	@include tablets() {
		display: none;
	}
}
.category_right {
	width: calc(100% - 292px);
	
	@include tablets() {
		width: 100%;
	}
}

.section {
	&__sort {
		background: #f7f7f7;
		padding: 10px 19px;
		display: flex;
		align-items: center;
		border-radius: 3px;
		margin-bottom: 30px;
		margin-top: -7px;
		
		span {
			color: #777777;
			font-weight: 700;
			line-height: 16.8px;
			margin-right: 9px;
		}
	}
	
	&__select {
		width: 186px;

		select {
			color: #777777;
			width: 226px;
		}
	}
	
	&__items {
		justify-content: flex-start;
		
		.bestsellers__item {
			margin-right: 30px;
			
			&:nth-child(3n) {
				margin-right: 0;
			}
			
			@include tablets() {
				width: calc(33% - 20px);
				padding: 30px 0px;
			}
			
			@include phones() {
				width: 100%;
				margin-right: 0;
				padding: 30px 25px;
			}
		}
	}
}
@import "../modules/menu-left";