.compare {
	display: flex;
	margin-top: 38px;
	
	@include tablets() {
		overflow-x: scroll;
	}
	
	&__header {
		width: 285px;
		
		@include tablets() {
			width: 226px;
		}
	}
	
	&__specs {
		height: 373px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding: 0 72px;
		border: 1px solid #dedede;
		border-right: 0 none;
		
		@include tablets() {
			padding: 0 61px;
			width: 226px;
		}
	}
	
	&__radio {
		label, input {
			cursor: pointer;
		}
		label {
			margin-left: 12px;
			line-height: 16.8px;
		}
		input {
			position: relative;
			top: 2px;
		}
	}
	
	&__items {
		display: flex;
		margin-bottom: 30px;
		
		.bestsellers {
			&__item {
				margin-bottom: 0;
				width: 286px;
				height: 373px;
				border-right: 0 none;
				border-radius: 0;
				
				&:hover {
					border-color: #dedede;
				}
			}

			&__image_wrap {
				height: 166px;
			}
			
			&__price_wrap {
				width: 220px;
			}
		}
	}
	
	&__item {
		position: relative;
		
		&:last-child {
			border-right: 1px solid #dedede;
		}
	}
	&__title {
		font-weight: 700;
		line-height: 16.8px;
		padding: 23px 30px 22px;
		border-left: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
		
		@include tablets() {
			padding: 20px 15px;
		}
	}
	&__value {
		line-height: 16.8px;
		padding: 24px 20px 21px;
		border-left: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
		
		@include tablets() {
			padding: 21px 20px 19px;
		}
	}
	.icon_close {
		width: 35px;
		height: 35px;
		background-size: 45%;
	}
}