.maintext {
	margin-top: 49px;
	
	@include phones() {
		margin-top: 40px;
	}
}

@import '../modules/slider';
@import '../modules/bestsellers';
@import '../modules/latestnews';
@import '../modules/banner';
@import '../modules/products';