.login {
	display: flex;
	justify-content: space-between;
	margin-top: 38px;
	
	@include phones() {
		flex-flow: column nowrap;
	}
	
	&__block {
		width: calc(50% - 15px);
		padding: 41px 28px;
		border: 1px solid #dedede;
		border-radius: 3px;
		transition: border-color $transition;
		margin-bottom: 20px;
		
		&:hover {
			border-color: #f2959d;
		}
		
		@include phones() {
			width: 100%;
			padding: 30px 21px;
		}
	}
	
	&__caption {
		font-size: 27px;
		font-weight: 700;
		line-height: 36px;
		margin-bottom: 18px;
		
		@include phones() {
			font-size: 18px;
		}
	}
	
	&__subtitle {
		font-size: 18px;
		
		@include phones() {
			font-size: 14px;
		}
	}
}

.form {
	&__input_block {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		
		@include phones() {
			flex-flow: column nowrap;
			align-items: flex-start;
		}
	}

	&__label {
		width: 86px;
		font-weight: 700;
		
		@include phones() {
			margin-bottom: 5px;
		}
	}
	
	&__input {
		width: 250px !important;
		
		@include tablets() {
			width: 206px !important;
		}
	}
	
	&__forgot {
		margin-left: 86px;
		line-height: 18px;
		
		@include phones() {
			margin-left: 0;
		}
	}
	
	&__login_btn {
		margin-left: 86px;

		@include phones() {
			margin-left: 0;
		}
	}
}