.news {
	&__item {
		margin-bottom: 30px;
	}
	&__title {
		color: #e32d3a;
		font-size: 23px;
		font-weight: 700;
		line-height: 36px;
		border-color: #cccccc;
		
		&:hover {
			color: #333333;
			border-color: transparent;
		}
	}
	&__date {
		color: #999999;
		margin: 5px 0;
	}
}