.orders {
	&__row {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		
		@include phones() {
			flex-flow: column nowrap;
			align-items: flex-start;
		}
	}
	&__select {
		width: 300px;
		margin-left: 20px;
		
		@include phones() {
			margin: 5px 0 0 0;
		}

		select {
			width: 340px;
		}
	}
	&__table {
		width: 100%;
		border-spacing: 0;
		border: 1px solid #dedede;
		border-bottom: 0;

		th {
			background: #f7f7f7;
			text-align: left;
			padding: 14px 20px;
			border-bottom: 1px solid #dedede;
		}
		td {
			border-bottom: 1px solid #dedede;
			padding: 20px;
			vertical-align: top;
			
			&:nth-child(2) {
				min-width: 240px;
			}
			&:nth-child(3) {
				min-width: 220px;
			}			
			@include tablets() {
				border-bottom: 0 none;
				padding: 13px;
			}
		}
		
		&_wrap {
			@include tablets() {
				overflow-x: scroll;
			}
		}
		tr:hover {
			background: #fffbe0;
		}
	}
}