.order {
	&__row {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	@include phones() {
		&__row:first-child {
			flex-flow: column nowrap;
			align-items: flex-start;
			
			.order__label {
				margin-bottom: 10px;
			}
		}
	}
	&__label {
		font-weight: 700;
		width: 160px;
		
		@include phones() {
			font-size: 18px;
			
			&--small {
				font-weight: 400;
				font-size: 14px;
			}
		}
	}
	&__select {
		width: 300px;
		
		select {
			width: 340px;
		}
	}
	&__origin {
		font-size: 18px;
	}
	
	&__table {
		width: 50%;
		border-left: 1px solid rgba(#e6e6e6, .75);
		border-right: 1px solid rgba(#e6e6e6, .75);
		margin-bottom: 30px;

		td, th {
			padding-left: 20px !important;
			
			@include phones() {
				width: 50%;
				vertical-align: top;
			}
		}
		
		@include tablets() {
			td:first-child {
				font-weight: 400;
			}
		}
		
		tr:hover {
			background: #fffbe0;
		}
		
		@include tablets() {
			width: 75%;
		}
		
		@include phones() {
			width: 100%;
		}
	}
	&__button {
		margin-right: 20px;
		
		@include phones() {
			margin-bottom: 20px;
		}
	}
	&_margins {
		margin: 50px 0;
		
		@include phones() {
			margin: 40px 0;
		}
	}
	.button {
		margin-top: 10px;
	}
}