.person {
	&__info {
		display: inline-block;
		
		.twocol {
			width: 256px;
			
			.col {
				width: 128px;
			}
		}
	}
	
	&__table {
		background: #f7f7f7;
		padding: 21px 31px;
	}
	
	&__image {
		margin-bottom: 26px;
	}
}