.product {
	&__subtitle {
		margin: -30px 0 44px;
		
		@include tablets() {
			margin-top: -20px;
		}
	}
	
	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 44gulppx;
		
		@include phones() {
			flex-flow: column nowrap;
		}
	}
	
	&__gallery {
		width: calc(50% - 15px);
		
		//@include tablets() {
		//	width: calc(50% - 5px);
		//}
		
		@include phones() {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	
	&__price_block {
		width: calc(50% - 15px);
		border: 1px solid #dedede;
		border-radius: 3px;
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		@include phones() {
			width: 100%;
			padding: 48px 0;
		}
	}
	
	&__price {
		font-size: 40px;
		font-weight: 900;
		line-height: 48px;
		
		@include phones() {
			font-size: 30px;
			line-height: 36px;
		}
		
		&--old {
			color: #999999;
			font-size: 25px;
			font-weight: 700;
			line-height: 30px;
			position: relative;
			display: inline-block;
			
			&:after {
				border-bottom: 1px solid #e32d3a;
				width: 100%;
				height: 1px;
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
			}
		}
	}
	
	&__addtocart {
		text-transform: capitalize;
		margin: 24px 0 34px;
		
		@include phones() {
			margin: 26px 0;
		}
		
		&:before {
			background: url('../img/icon-cart.png') no-repeat;
			width: 20px;
			height: 20px;
			content: '';
			display: inline-block;
			margin-right: 9px;
			vertical-align: middle;
			line-height: 19.2px;
		}
	}

	&__incart {
		text-transform: capitalize;
		margin: 24px 0 34px;
		background: #39b424;
		border: 1px solid transparent;

		@include phones() {
			margin: 26px 0;
		}

		&:before {
			background: url('../img/i-incart-white.svg') no-repeat;
			width: 20px;
			height: 20px;
			content: '';
			display: inline-block;
			margin-right: 9px;
			vertical-align: middle;
			line-height: 19.2px;
		}
		
		&:hover {
			background: #fff;
			border: 1px solid #39b424;
			color: #333333;
			
			&:before {
				background: url('../img/i-incart-green.svg') no-repeat;
			}
		}
	}
	
	&__backorder {
		color: #777777;
		font-size: 14px;
		font-weight: 400;
		line-height: 16.8px;
	}
	
	&__video_block {
		display: flex;
		justify-content: space-between;
		
		@include phones() {
			flex-flow: column nowrap;
		}
	}
	
	&__video {
		width: calc(50% - 30px);
		color: #888888;
		
		@include phones() {
			width: 100%;
			margin-bottom: 27px;
		}
	}
	
	&__download {
		&_item {
			background: url('../img/icon-download.png') no-repeat scroll 0 5px;
			padding-left: 22px;
		}

		&_desc {
			opacity: 0.5;
		}
	}
	
	&__specs {
		width: 50%;
		
		@include tablets() {
			width: 100%;
		}
	}

	&__included {
		width: 50%;

		@include tablets() {
			width: 100%;
		}
	}
}

@import "../modules/gallery";