.registration {
	&__row {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	&__col2 {
		margin-left: 132px;
	}
	&__label {
		width: 132px;
	}
	
	&__input {
		width: 300px;
		margin-left: 0 !important;
	}
	&__select {
		width: 300px;
		
		select {
			width: 340px;
		}
	}
}