.support {
	&__item {
		display: flex;
		margin-bottom: 30px;
		
		@include phones() {
			flex-flow: column nowrap;
			align-items: center;
			text-align: center;
		}
	}
	&__link {
		font-size: 27px;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 1.35px;
		color: #e32c39;
		border-color: #cccccc;
		
		&:hover {
			color: #333333;
			border-color: #f1969c;
		}
		
		&--img {
			border-bottom: 0 none;
		}
		
		@include phones() {
			font-size: 18px;
		}
	}
	&__info {
		margin-left: 20px;
		width: calc(100% - 116px);
		
		@include phones() {
			width: 100%;
			margin-left: 0;
			margin-top: 10px;
		}
	}
	&__text {
		color: #999999;
		font-size: 18px;
		line-height: 27px;
		margin-top: 10px;
	}
}