.team {
	display: flex;
	flex-flow: row wrap;
	
	&__item {
		width: 25%;
		border-bottom: 0 none;
		text-align: center;
		margin-bottom: 44px;
		
		@include tablets() {
			width: 33.3333%;
		}
		
		@include phones() {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	&__image {
		position: relative;
		
		&:hover:after {
			content: '';
			background: url('../img/team-arrow.png') no-repeat center center rgba(#fff, .75);
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
		
		img {
			margin: 0 auto 10px;
		}
	}
	&__name {
		color: #e32c39;
		font-size: 18px;
		font-weight: 700;
		line-height: 25px;
		letter-spacing: 0.9px;
		border-bottom: 1px solid #cccccc;
		display: inline;
		transition: color $transition, border-color $transition;
		
		&:hover {
			color: #333333;
			border-color: #f1969c;
		}
	}
}