.techreview {
	display: flex;
	flex-flow: row wrap;
	
	@include phones() {
		flex-flow: column wrap;
	}

	&__item {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		width: 50%;
		margin-bottom: 29px;
	
		@include phones() {
			flex-flow: column wrap;
			width: 100%;
			text-align: center;
		}
	}
	&__image {
		margin: auto;
		
		&_link {
			border-bottom: 0 none;
			//padding: 24px 20px;
			width: 96px;
			height: 96px;
			background: #f3f3f3;
			margin-right: 19px;
			transition: background $transition;
			
			&:hover {
				background: #e32c39;
			}
		}
	}
	&__info {
		width: calc(100% - 116px);

		@include phones() {
			margin-top: 20px;
			width: 100%;
		}
	}
	&__link {
		color: #e32c39;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.9px;
		line-height: 25px;
		border-color: #cccccc;

		&:hover {
			color: #333333;
			border-color: #f1969c;
		}
	}
	&__text {
		letter-spacing: 0.7px;
		line-height: 20px;
	}
}