.where {
	text-align: center;
	
	&__regions {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		margin: 0 auto;
		width: 723px;
		
		@include tablets() {
			width: 100%;
		}
		@include phones() {
			flex-flow: column wrap;
			align-items: center;
		}
		
		.button {
			width: 221px;
			margin-bottom: 30px;
		}
	}
	&__map {
		margin-top: 30px;
		
		@include phones() {
			display: none;
		}
	}
	
	&_left {
		text-align: left;
	}

	&__table {
		tr:hover {
			background: #fffbe0;
		}
	}
}