footer.footer
	.footer__row.footer__row--light
		.footer__siteinfo
			.siteinfo
				.siteinfo__block
					.siteinfo__facebook
						a(href="#") Like us
						|  on Facebook
				.siteinfo__block
					p &copy; 2007&ndash;2017 Scorpion Power System Limited
					p Email: 
						a(href="#") support@spihk.com
					p
						a(href="#") Privacy Policy
				.siteinfo__block Created by 
					a(href="#") SUI Solutions
	.footer__row.footer__row--dark
		.footer__note
			.note Please note that photographs may not accurately represent the number of items per package, size, color or features of a product.