header.header
	.header__row
		a.logo(href="#")
			img.logo__image(src="assets/img/logo.jpg")
		.currency
			select
				option USD
				option EUR
		a.signin(href="#") Sign In / Register
		a.header__cart(href="#") 
			strong 5
			| &nbsp;items / $ 
			strong 259.00
	.header__row--yellow
		.header__row
			nav.mainmenu
				ul.mainmenu__items
					li.mainmenu__item.mainmenu__catalog.mainmenu__parent
						a.mainmenu__link(href="#") Catalog
						ul.mainmenu__items
							li.mainmenu__item.mainmenu__parent
								a.mainmenu__link(href="#") Aeroplane
								ul.mainmenu__items
									li.mainmenu__item
										a.mainmenu__link(href="#") Accessories
									li.mainmenu__item
										a.mainmenu__link(href="#") Motors
							li.mainmenu__item.mainmenu__parent
								a.mainmenu__link(href="#") Electronic Speed Controllers
								ul.mainmenu__items
									li.mainmenu__item
										a.mainmenu__link(href="#") 14S Tribunus SBEC series
									li.mainmenu__item
										a.mainmenu__link(href="#") 6S Tribunus SBEC series
									li.mainmenu__item
										a.mainmenu__link(href="#") 6S Tribunus OPTO series
							li.mainmenu__item.mainmenu__parent
								a.mainmenu__link(href="#") Helicopter
								ul.mainmenu__items
									li.mainmenu__item
										a.mainmenu__link(href="#") Accessories
									li.mainmenu__item
										a.mainmenu__link(href="#") Motors
									li.mainmenu__item
										a.mainmenu__link(href="#") Special Edition
							li.mainmenu__item
								a.mainmenu__link(href="#") Car
								
					li.mainmenu__item.mainmenu__parent
						a.mainmenu__link(href="#") Product info
						ul.mainmenu__items
							li.mainmenu__item
								a.mainmenu__link(href="#") Brushless Outrunner Motors
							li.mainmenu__item
								a.mainmenu__link(href="#") Brushless Speed Controllers
							li.mainmenu__item
								a.mainmenu__link(href="#") Warranty Information
					li.mainmenu__item.mainmenu__parent
						a.mainmenu__link(href="#") Support
						ul.mainmenu__items
							li.mainmenu__item
								a.mainmenu__link(href="#") RS-3420 motor Bearing Maintenance kit Tutorial
							li.mainmenu__item
								a.mainmenu__link(href="#") HKII-42 & HK-45 series motor Bearing Maintenance kit Tutorial
							li.mainmenu__item
								a.mainmenu__link(href="#") How to Program a Scorpion Commander V 50V Series Speed Controller (SBEC)
							li.mainmenu__item
								a.mainmenu__link(href="#") Scorpion Backup Guard Review By Mr. Mel
					li.mainmenu__item.mainmenu__parent
						a.mainmenu__link(href="#") About us
						ul.mainmenu__items
							li.mainmenu__item
								a.mainmenu__link(href="#") History
							li.mainmenu__item
								a.mainmenu__link(href="#") Contact us
					li.mainmenu__item
						a.mainmenu__link(href="#") Contacts
			.search
				form.search__form(action="")
					input.search__input(placeholder="Search" name="q")
					button.search__submit