mixin catalogItem(image, title, text, links)
	.catalog__item
		.catalog__image_block
			a(href="#")
				img.catalog__image(src=`${image}`)
		.catalog__info
			a.catalog__title(href="#")= title
			.catalog__text= text
			each link in links
				a.catalog__link(href="#")= link
				br
				
mixin breadcrumbs(items)
	- var n = 0;
	.breadcrumb
		while n < items.length - 1
			.breadcrumb__item
				a.breadcrumb__link(href="#") #{items[n++]}
		span.breadcrumb__item--current #{items[n]}
		
mixin table2col(rows)
	table.table_2col
		each row in rows
			tr
				td #{row.col1}
				td #{row.col2}
				
mixin sectionItem(item)
	.bestsellers__item
		if item.hot
			.icon_hot
		if item.new
			.icon_new
		.bestsellers__image_wrap
			a.bestsellers__image_link(href="#")
				img.bestsellers__image(src=`${item.image}`)
		.bestsellers__title
			a.bestsellers__title_link(href="#") #{item.title}
		.bestsellers__price_wrap
			.bestsellers__prices
				if item.price_old
					.bestsellers__price--old #{item.price_old}
				.bestsellers__price #{item.price}
			if item.incart
				.bestsellers__incart
			else
				a.bestsellers__addtocart(href="#")
		if item.question
			.bestsellers__question Backorder
		if item.link
			a.bestsellers__link(href="#") Out of stock
		