* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #333333;
	font-size: 14px;
	line-height: 23px;
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	
	@include tablets() {
		line-height: 20px;
	}
}
h1, .h1 {
	font-size: 36px;
	font-weight: 900;
	line-height: 45px;
	
	@include tablets() {
		font-size: 27px;
		line-height: 36px;
	}
}
h2, .h2 {
	font-size: 27px;
	font-weight: 900;
	line-height: 36px;

	@include tablets() {
		font-size: 23px;
		line-height: 32px;
	}
}
h3, .h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
}
h4, .h4 {
	font-size: 14px;
	font-weight: 700;
	line-height: 23px;
}
a {
	color: #333333;
	text-decoration: none;
	border-bottom: 1px solid #e88e94;
	transition: border-color $transition, color $transition;
}
a:hover {
	border-bottom-color: transparent;
}
strong {
	font-weight: 700;
}
input {
	outline: 0;
}
input[type="text"], input[type="password"] {
	//margin-left: 14px;
	background: #f7f7f7;
	border: 1px solid #dedede;
	border-radius: 3px;
	height: 36px;
	padding: 0 10px;
	width: 300px;

	@include phones() {
		margin-left: 0;
	}

	&:focus {
		background: #fff;
	}
}
p {
	margin: 0 0 10px 0;
}
img {
	display: block;
	max-width: 100%;

	@include tablets() {
		height: auto;
	}
}
main {
	min-width: 320px;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	
	@include tablets() {
		max-width: 768px;
	}
	
	@include phones() {
		max-width: 674px;
	}
}
hr {
	border-top: 1px solid #e6e6e6;
	border-bottom: 0;
}
ol {
	li {
		padding-left: 19px;
		margin-bottom: 10px;
		line-height: 20px;
	}
}
.caption {
	font-size: 27px;
	font-weight: 900;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
	margin: 49px 0 40px;

	&_border {
		display: table;
		margin: 49px auto;
		border-bottom: 1px solid #e88e94;
	}
	
	@include tablets() {
		margin: 30px 0 25px;
	}
}
.select {
	background: #fff;
	height: 31px;
	padding-right: 10px;
	overflow: hidden;
	position: relative;
	border: 1px solid #eaeaea;

	select {
		background: transparent;
		border: 0 none;
		font-weight: 300;
		line-height: 16.8px;
		padding: 6px 11px;
		outline: 0;
		position: relative;
		cursor: pointer;
	}

	&:after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 4px 4px 0 4px;
		border-color: #b2b2b2 transparent transparent transparent;
		position: absolute;
		right: 10px;
		top: 14px;
	}
}
.button {
	color: #ffffff;
	font-family: Lato;
	font-size: 16px;
	font-weight: 900;
	line-height: 19.2px;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	padding: 17px 34px 16px;
	background: $buttonColor;
	border-radius: 3px;
	border: 0;
	cursor: pointer;
	transition: background $transition;
	outline: 0;
	
	&:hover {
		background: $buttonColorHover;
	}
	
	&:active {
		background: $buttonColorActive;
	}
	
	&_grey {
		background: $buttonGreyColor;

		&:hover {
			background: $buttonGreyColorHover;
		}

		&:active {
			background: $buttonGreyColorActive;
		}
	}

	&_green {
		background: $buttonGreenColor;

		&:hover {
			background: $buttonGreenColorHover;
		}

		&:active {
			background: $buttonGreenColorActive;
		}
	}
}

.breadcrumb {
	display: flex;
	flex-flow: row wrap;
	position: relative;
	top: 25px;
	margin-bottom: 31px;
	
	&__item {
		&:after {
			content: '';
			width: 3px;
			height: 5px;
			background: url('../img/breadcrumb.png') no-repeat;
			display: inline-block;
			vertical-align: middle;
			margin: 0 9px;
			font-size: 12px;
		}
	}
	&__link {
		color: #e32c39;
		font-size: 13px;
		font-weight: 300;
		line-height: 15.6px;
		border-bottom: 0;
		transition: color $transition;
		
		&:hover {
			color: #333333;
		}
	}
}

.icon_hot {
	width: 66px;
	height: 29px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #e42938;
	padding: 0 10px;
	border-radius: 0 3px 0 3px;
	position: absolute;
	right: -1px;
	top: -1px;

	&:before {
		background: url('../img/i-hot.svg') no-repeat left center;
		content: '';
		width: 14px;
		height: 15px;
	}

	&:after {
		content: 'hot';
	}
}

.icon_new {
	width: 70px;
	height: 29px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #39b424;
	padding: 0 10px;
	border-radius: 0 3px 0 3px;
	position: absolute;
	right: -1px;
	top: -1px;

	&:before {
		background: url('../img/i-new.svg') no-repeat left center;
		content: '';
		width: 15px;
		height: 15px;
	}

	&:after {
		content: 'new';
	}
}

.icon_close {
	background: url('../img/icon-close.png') no-repeat center center #dddddd;
	position: absolute;
	right: 0;
	top: 0;
	width: 43px;
	height: 43px;
	cursor: pointer;
	z-index: 1000;
	transition: background $transition;

	&:hover {
		background-color: #e32d3a;
	}
}

.icon_required {
	color: #d83500;
	font-weight: 700;
	display: inline;

	&:after {
		content: '*';
	}
}

.icon_free {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	background: #59b200;
	padding: 7px 10px;
	
	&:after {
		content: 'free';
	}
}

.icon_buy {
	background-image: url('../img/i-wtb-black.svg');
	background-color: #f2f2f2;
	width: 96px;
	height: 96px;
	transition: background-color $transition;
	display: inline-block;
	
	&:hover {
		background-color: #e32c39;
		background-image: url('../img/i-wtb-white.svg');
	}
}
.icon_downloads {
	background-image: url('../img/i-downloads-black.svg');
	background-color: #f2f2f2;
	width: 96px;
	height: 96px;
	transition: background-color $transition;
	display: inline-block;

	&:hover {
		background-color: #e32c39;
		background-image: url('../img/i-downloads-white.svg');
	}
}
.icon_review {
	background-image: url('../img/i-review-black.svg');
	background-color: #f2f2f2;
	width: 96px;
	height: 96px;
	transition: background-color $transition;
	display: inline-block;

	&:hover {
		background-color: #e32c39;
		background-image: url('../img/i-review-white.svg');
	}
}

.table {
	width: 100%;
	border-spacing: 0;
	border: 1px solid #dedede;
	border-bottom: 0;

	th {
		background: #f7f7f7;
		text-align: left;
		padding: 14px 20px;
		border-bottom: 1px solid #dedede;
	}
	td {
		border-bottom: 1px solid #dedede;
		padding: 20px;
		vertical-align: top;

		@include tablets() {
			border-bottom: 0 none;
			padding: 13px;
		}
	}

	&_wrap {
		@include tablets() {
			overflow-x: scroll;
		}
	}
	
	&_small {
		th {
			padding: 10px;
		}
		td {
			padding: 10px;
		}
	}
	
	&_2col {
		width: 100%;
		border-spacing: 0;
		border-top: 1px solid rgba(#e6e6e6, .75);
		
		@include phones() {
			overflow-x: scroll;
		}
		
		tr {
			cursor: pointer;
			
			&:hover {
				background: #f6f6f6;
			}
		}
		td, th {
			border-bottom: 1px solid rgba(#e6e6e6, .75);
			text-align: left;
			
			&:first-child {
				font-weight: 700;
				padding: 13px 5px 14px;
				width: 240px;
			}
			
			&:last-child {
				padding: 15px 5px 12px;
			}
		}
		
		th {
			background: #f7f7f7;
		}
	}
	
	&__row {
		&--grey {
			background: #f7f7f7 !important;
		}
	}
}

.twocol {
	display: flex;
	justify-content: space-between;
}
.col {
	&_left {
		order: -1;
		position: relative;
		top: 29px;
		
		@include tablets() {
			display: none;
		}
	}
	
	&_right {
		width: calc(100% - 292px);
		
		@include tablets() {
			width: 100%;
		}
	}
}
.text {
	&_center {
		text-align: center;
		
		img {
			margin: 0 auto;
		}
	}
}
.success {
	background-color: #def0cc;
	padding: 40px 30px;
	border-radius: 3px;
}
.error {
	background-color: #f9d5d8;
	padding: 40px 30px;
	border-radius: 3px;
}
input.error, .select.error {
	border-color: #e8606a;
	background-color: #f7f7f7;
}
.select.error {
	padding: 0 10px 0 0;
}