.footer {
	margin-top: auto;
	padding-top: 60px;
	width: 100%;
	
	@include phones() {
		padding-top: 15px;
	}
	
	&__row {
		&--dark {
			background: #555555;
		}

		&--light {
			background: #eeeeee;
		}
	}
}

.siteinfo {
	min-width: 320px;
	max-width: 1170px;
	margin: 0 auto;
	padding: 62px 15px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	
	@include phones() {
		padding: 31px 15px 6px;
	}
	
	&__block {
		width: 33%;
		
		&:last-child {
			text-align: right;

			@include phones {
				text-align: center;
			}
		}
		
		@include phones() {
			width: 100%;
			margin-bottom: 29px;
		}
	}
	
	&__facebook:before {
		content: '';
		width: 32px;
		height: 32px;
		background: url('../img/icon-fb.png') no-repeat;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		opacity: .25;
	}

	@include tablets() {
		max-width: 768px;
	}
	
	@include phones {
		max-width: 674px;
		flex-direction: column;
		text-align: center;
	}
}

.note {
	min-width: 320px;
	max-width: 1170px;
	margin: 0 auto;
	padding: 27px 15px;
	color: #ffffff;
	line-height: 17px;

	@include tablets() {
		max-width: 768px;
	}

	@include phones {
		max-width: 674px;
		text-align: center;
	}
}