.header {
	width: 100%;
	
	&__row {
		min-width: 320px;
		max-width: 1170px;
		padding: 0 15px;
		margin: 20px auto 0;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		
		&--yellow {
			background: #ffe132;
			margin-bottom: 20px;
			
			//.header__row {
			//	margin-top: 16px;
			//}
		}

		@include tablets() {
			max-width: 768px;
		}
		
		@include phones() {
			max-width: 674px;
			justify-content: center;
			//flex-direction: column;
		}
	}
}

.logo {
	border-bottom: 0;
	
	&__image {
		margin: auto auto auto 17px;
		position: relative;
		
		@include phones() {
			margin: auto;
		}
	}
	
	@include phones() {
		width: 100%;
		margin-bottom: 20px;
	}
}

.currency {
	width: 100px;
	height: 46px;
	overflow: hidden;
	border: 1px solid #dedede;
	border-radius: 3px;
	position: relative;
	margin: 0 15px 0 auto;
	transition: background $transition, color $transition, border-color $transition;
	
	&:after {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 6px 0 6px;
		border-color: #030303 transparent transparent transparent;
		position: absolute;
		top: 19px;
		right: 21px;
		cursor: pointer;
		content: '';
		transition: border-color $transition;
	}
	
	&:hover {
		background: #e42938;//$buttonColorHover;
		border-color: #e42938;//$buttonColorHover;
		
		select {
			color: #fff;
		}
		
		&:after {
			border-color: #fff transparent transparent transparent;
		}
	}

	&:active {
		background: $buttonColorActive;

		select {
			color: #fff;
		}

		&:after {
			border-color: #fff transparent transparent transparent;
		}
	}
	
	select {
		padding: 14px 15px;
		background: transparent;
		width: 140px;
		height: 46px;
		border: 0;
		outline: none;
		cursor: pointer;
		position: relative;
		top: -1px;
		font-family: Lato;
		font-weight: 400;
		
		option {
			color: #333333;
		}
	}
	
	@include phones() {
		margin: 0;
		order: 1;
	}
}

.signin {
	border: 1px solid #dedede;
	border-radius: 3px;
	width: 171px;
	//height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
	transition: background $transition, border-color $transition;
	padding: 13px 0 15px;
	
	&:hover {
		background: #e42938;//$buttonColorHover;
		border-color: #e42938;//$buttonColorHover;
	}

	&:active {
		background: $buttonColorActive;
		border-color: $buttonColorActive;
	}
	
	color: #333333;
	line-height: 18px;
	font-size: 15px;
	position: relative;
	
	&:before {
		background: url('../img/i-signin-gray.svg') no-repeat;
		width: 14px;
		height: 17px;
		content: '';
		display: inline-block;
		margin-right: 9px;
		position: relative;
		top: 1px;
	}

	&:hover {
		color: #fff;

		&:before {
			background: url('../img/i-signin-white.svg') no-repeat;
		}
	}
	
	@include phones() {
		order: 1;
		margin: 0 0 0 auto;
		width: calc(100% - 115px);
	}
}

.header__cart {
	background: #e42938;
	min-width: 186px;
	padding: 0 10px;
	height: 46px;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background $transition;
	
	//&__link {
		color: #ffffff;
		font-size: 15px;
		line-height: 18px;
		border-bottom-color: transparent;
		//display: flex;
		//align-items: baseline;
		//justify-content: center;

		&:before {
			background: url('../img/i-cart-white.svg') no-repeat;
			width: 20px;
			height: 20px;
			content: '';
			display: inline-block;
			margin-right: 9px;
			align-self: center;
		}
	//}

	&:hover {
		background: $buttonColorHover;
		border-color: $buttonColorHover;
	}
	
	&:active {
		background: $buttonColorActive;
		border-color: $buttonColorActive;
	}
	
	@include phones() {
		width: 100%;
		margin: 0px 0 15px;
	}
}

.header__user {
	display: flex;
	align-items: center;

	@include tablets_land() {
		width: 100%;
		order: 1;
		justify-content: flex-end;
	}
	
	@include tablets() {
		order: 1;
		margin-left: auto;
	}
	
	@include phones() {
		flex-flow: column;
	}
}

.user {
	&__buttons {
		@include phones() {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}
	&__button {
		border: 1px solid #dedede;
		border-radius: 3px;
		margin-right: 15px;
		transition: background $transition, border-color $transition;
		padding: 11px 20px 14px;
		color: #333333;
		line-height: 18px;
		font-size: 15px;
		position: relative;

		&:before {
			width: 16px;
			height: 16px;
			content: '';
			display: inline-block;
			margin-right: 9px;
			position: relative;
			
			@include phones() {
				content: none;
			}
		}
		
		&--details:before {
			background: url('../img/i-signin-gray.svg') no-repeat;
			top: 3px;
		}
		&--details:hover:before {
			background: url('../img/i-signin-white.svg') no-repeat;
		}
		&--orders:before {
			background: url('../img/i-orders-gray.svg') no-repeat;
			top: 4px;
		}
		&--orders:hover:before {
			background: url('../img/i-orders-white.svg') no-repeat;
		}
		&--logout:before {
			background: url('../img/i-logout-gray.svg') no-repeat;
			top: 3px;
		}
		&--logout:hover:before {
			background: url('../img/i-logout-white.svg') no-repeat;
		}

		&:hover {
			color: #fff;
		}

		&:hover {
			background: #e42938; //$buttonColorHover;
			border-color: #e42938; //$buttonColorHover;
		}

		&:active {
			background: $buttonColorActive;
			border-color: $buttonColorActive;
		}

		@include tablets_land() {
			&:last-child {
				margin-right: 0;
			}
		}
		
		@include phones() {
			padding: 13px 15px;
		}
	}
	
	&__details {
		text-align: right;
		margin-right: 15px;
		
		& > strong {
			display: block;
			
			@include phones() {
				display: inline;
			}
		}
		
		@include phones() {
			width: 100%;
			display: flex;
			justify-content: space-around;
			margin: 19px 0;
		}
	}
}

.search {
	padding: 10px 0;
	
	&__form {
		display: flex;
		align-items: center;
		position: relative;
		width: 260px;

		@include phones() {
			width: 215px;
		}
	}

	&__input {
		padding: 9px 10px;
		width: 260px;
		height: 31px;
		border: 1px solid #f2d62f;

		&:focus {
			border-color: darken(#f2d62f, 15%);
		}

		@include phones() {
			width: 215px;
		}
	}

	&__submit {
		border: 0;
		background: url('../img/i-search.svg') no-repeat;
		width: 18px;
		height: 18px;
		position: absolute;
		right: 10px;
		top: 6.5px;
		outline: 0;
		cursor: pointer;
	}

	@include phones() {
		margin-left: auto;
	}

	@media screen and (max-width: 970px) {
		padding: 0;
	}
}

@import "../modules/menu";