.banner {
	display: flex;
	flex-flow: row wrap;
	
	&__block {
		width: 50%;
		
		@include phones() {
			width: 100%;
			display: none;
		}
		
		&--yellow {
			padding: 23px 36px;
			background: #ffe232;
			
			@include tablets() {
				padding-top: 18px;
			}
			
			@include phones() {
				display: block;
			}
		}
	}
	
	&__caption {
		margin: 0 0 10px 0;
		text-align: left;
	}
	
	&__link {
		color: #ffffff;
		font-size: 18px;
		border-bottom: 0;
		background: #e42938;
		padding: 11px 18px;
		display: inline-block;
		position: relative;
		font-weight: 700;
		border-radius: 3px;
		transition: background $transition;
		
		&:after {
			content: '';
			display: inline-block;
			background: url('../img/icon-arrow_right.png') no-repeat;
			width: 15px;
			height: 10px;
			right: 20px;
			margin-left: 10px;
			vertical-align: middle;
		}
		
		&:hover {
			background: #f7414e;
		}
	}
	
	&__image {
		object-fit: cover;
		height: 100%;
	}
}

@include tablets() {
	//.banner__image {
	//	position: absolute;
	//	right: 20px;
	//	z-index: -1;
	//	height: auto;
	//	object-fit: none;
	//}
	.banner__block p {
		line-height: 20px;
	}
}