.bestsellers {
	&__items {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-bottom: -30px;
		
		@include tablets_land() {
			justify-content: space-around;
		}
	}
	
	&__item {
		width: 262px;
		height: 434px;
		display: flex;
		flex-flow: column wrap;
		//justify-content: flex-start;
		align-items: center;
		padding: 30px 25px;
		border: 1px solid #dedede;
		border-radius: 3px;
		transition: border-color $transition;
		position: relative;
		margin-bottom: 30px;

		@include tablets_land() {
			width: calc(50% - 30px);
			margin-bottom: 30px;
		}
		
		@include phones()  {
			width: 100%;
			margin-bottom: 15px;
		}
		
		&:hover {
			border-color: #f2949c;
		}
		
		&:last-child {
			@include phones() {
				margin-bottom: 30px;
			}
		}
		//
		//&:nth-last-child(-n + 2) {
		//	@include tablets() {
		//		margin-bottom: 0;
		//	}
		//}
		//
		//&:nth-last-child(2) {
		//	@include phones() {
		//		margin-bottom: 30px;
		//	}
		//}
	}
	
	&__image_wrap {
		height: 200px;
		display: flex;
		align-items: center;
		margin: 10px 0 14px;
	}
	
	&__title {
		font-size: 18px;
		text-align: center;
		height: 46px;
		width: 210px;
	}
	
	&__price_wrap {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin: 7px 0 auto;
		
		@include tablets_land() {
			justify-content: space-around;
		}
	}
	&__price {
		font-size: 25px;
		font-weight: 900;
		line-height: 30px;
		margin: 5px 0 0 8px;
		
		&--old {
			color: #999999;
			font-size: 16px;
			font-weight: 700;
			line-height: 19px;
			position: relative;
			display: inline-block;
			margin-left: 8px;
			
			&:after {
				border-bottom: 1px solid #e32d3a;
				width: 100%;
				height: 1px;
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
			}
		}
	}
	&__addtocart {
		background: url('../img/i-cart-white.svg') no-repeat center center #e42938;
		background-size: 20px 20px;
		display: block;
		width: 80px;
		height: 42px;
		border-radius: 3px;
		margin: 6px 11px;
		transition: background $transition, border $transition;
		border-bottom: 0;
		
		&:hover {
			background: url('../img/i-cart-red.svg') no-repeat center center #ffffff;
			background-size: 20px 20px;
			border: 1px solid #e42938;
		}
	}

	&__incart {
		background: url('../img/i-incart-white.svg') no-repeat center center #39b424;
		background-size: 30px 20px;
		display: block;
		width: 80px;
		height: 42px;
		border-radius: 3px;
		margin: 6px 11px;
		transition: background $transition, border $transition;
		border-bottom: 0;
		cursor: pointer;

		&:hover {
			background: url('../img/i-incart-green.svg') no-repeat center center #ffffff;
			background-size: 30px 20px;
			border: 1px solid #39b424;
		}
	}
	
	&__link {
		margin-top: auto;
		line-height: 18px;
	}
	
	&__question {
		margin-top: auto;
		cursor: pointer;
		position: relative;

		&:after {
			content: '?';
			display: inline-block;
			width: 16px;
			height: 16px;
			background: #ffc000;
			border-radius: 50%;
			text-align: center;
			font-size: 13px;
			margin-left: 6px;
			line-height: 16px;
			position: relative;
		}

		&:hover {
			.bestsellers__tooltip {
				opacity: 1;
				display: block;
			}
		}
	}
	
	&__tooltip {
		opacity: 0;
		display: none;
		position: absolute;
		bottom: calc(100% + 10px);
		left: -40px;
		z-index: 9999;
		padding: 5px 20px;
		min-width: calc(100% + 80px);
		background: #333;
		color: #fff;
		text-align: center;
		border-radius: 3px;
		transition: opacity $transition;
		
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: calc(50% - 5px);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 7.5px 0 7.5px;
			border-color: #333 transparent transparent transparent;
		}
	}
	
	&__image_link {
		border-bottom: 0;
	}
	
	&__title_link {
		border-bottom: 1px solid transparent;
		
		&:hover {
			border-bottom: 1px solid rgba(51, 51, 51, .25);
			color: #e42938;
		}
	}
}