.catalog {
	margin-top: 60px;
	
	&__item {
		display: flex;
		margin-bottom: 23px;
		
		@include phones() {
			flex-flow: column nowrap;
			align-items: center;
		}
	}
	&__image_block {
		margin-top: 10px;
		width: 135px;
		
		@include phones() {
			width: auto;
			margin-bottom: 20px;
		}
	}
	&__info {
		width: calc(100% - 135px);

		@include phones() {
			width: auto;
			text-align: center;
		}
	}
	&__title {
		color: #e32d3a;
		border-color: #cccccc;
		font-size: 27px;
		font-weight: 700;
		line-height: 36px;
		margin-bottom: 12px;
		display: inline-block;
		
		&:hover {
			color: #333333;
			border-color: #f1969c;
		}
		
		@include phones() {
			font-size: 18px;
			line-height: 23px;
			margin-bottom: 10px;
		}
	}
	&__text {
		color: #999999;
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 10px;
		
		@include tablets() {
			font-size: 16px;
			line-height: 23px;
		}
	}
	
	&__link {
		line-height: 25px;
	}
}