.gallery {
	display: flex;
	overflow: hidden;
	
	&__thumbs {
		display: flex;
		flex-flow: column nowrap;
		
		& + .gallery__full {
			margin: auto;
		}
	}
	
	&__thumb {
		width: 60px;
		cursor: pointer;
		border: 1px solid #dedede;
		border-radius: 3px;
		padding: 4px;
		transition: border-color $transition;
		margin: 5px 0;
		
		&:hover {
			border-color: #f2959d;
		}
		
		&--active {
			border-color: #f2959d;
		}
	}
	
	&__full {
		overflow: hidden;
		margin: 0;
		height: 360px;
		
		@include tablets() {
			margin: auto;
		}
	}
	
	&__main {
		max-height: 360px;
		margin: 0 auto;

		&--hidden {
			max-height: 360px;
			margin: 0 auto;
		}
	}
}