.latestnews {
	&__items {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-bottom: 43px;

		@include tablets_land() {
			justify-content: space-around;
		}
	}

	&__item {
		width: 262px;
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: flex-start;

		@include tablets_land() {
			width: calc(50% - 30px);
			margin-bottom: 30px;
		}
		
		@include phones() {
			width: 100%;
			align-items: center;
			text-align: center;
		}

		&:last-child {
			@include phones() {
				margin-bottom: 0;
			}
		}

		&:nth-last-child(-n + 2) {
			@include tablets() {
				margin-bottom: 0;
			}
		}

		&:nth-last-child(2) {
			@include phones() {
				margin-bottom: 30px;
			}
		}
	}
	
	&__data {
		font-weight: 700;
		margin: 13px 0 8px;
	}
	
	&__text {
		border-bottom: 0;
		width: 262px;

		&:hover {
			color: #e32d3a;
		}
	}
	
	&__image_link {
		border-bottom: 0;
	}
}