.menu_left {
	background: #f7f7f7;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	width: 262px;
	padding: 21px 20px 15px;
	border-radius: 3px;
	list-style: none;
	
	ul {
		list-style: none;
		padding-left: 20px;
	}
	
	&__link {
		line-height: 20px;
		border-color: transparent;
		margin-bottom: 10px;
		
		&--main {
			font-size: 17px;
			font-weight: 700;
			line-height: 23px;
		}
		
		&--active {
			color: #e32d3a;
		}
		
		&:hover {
			color: #e32d3a;
			border-color: #c6c6c6;
		}
	}
	
	hr {
		border-color: #e1e1e1;
		width: 100%;
		margin-bottom: 20px;
	}
}