.mainmenu {
	@media screen and (max-width: 970px) {
		height: 51px;
		
		&:before {
			content: '';
			display: inline-block;
			background: url('../img/icon-menu.png') no-repeat center center #e32c3a;
			width: 57px;
			height: 51px;
			margin-right: 16px;
			position: relative;
			cursor: pointer;
		}
	}
	&__items {
		display: flex;
		//flex-flow: row wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 1001;

		@media screen and (max-width: 970px) {
			display: none;
		}
		
		.mainmenu__items {
			display: none;
			position: absolute;
			flex-direction: column;
			background: #ffffff;
			width: 270px;
			padding: 20px 0;
			top: 51px;
			
			@include tablets() {
				margin: 10px 0;
			}

			&--active {
				display: block;
			}
			
			.mainmenu__items {
				left: 100%;
				top: -20px;
				padding-top: 20px;
				border-left: 1px solid #808080;
			}
			
			.mainmenu__item {
				display: flex;
				flex-flow: row nowrap;
				//align-items: center;
				//justify-content: center;
				position: relative;
			}
			
			.mainmenu__link {
				color: #333333;
				background: none;
				width: 100%;
				//text-align: center;
				display: flex;
				font-size: 14px;
				font-weight: 400;
				text-transform: none;
				padding: 14px 20px;
				justify-content: space-between;
				position: relative;
				margin-right: 0;
				
				&:hover {
					color: #e32d3a;
					background: #f7f7f7;
				}
				
				&:before {
					content: none;
				}

				&:after {
					content: none;
				}
				
				@include tablets() {
					padding: 0 20px;
				}
			}
		}
	}
	
	&__parent {
		.mainmenu__parent > .mainmenu__link:after {
			content: '';
			background: url('../img/menu-arrow.png') no-repeat;
			margin: 0 0 0 20px;
			border: 0;
			width: 6px;
			height: 11px;
			position: relative;
		}
	}
	
	&__item {
		font-weight: 700;
		line-height: 17px;
		text-transform: uppercase;
		
		@include tablets() {
			text-transform: none;
			line-height: 36px;
		}
	}
	
	&__link {
		border-bottom: 0;
		padding: 17px 0 17px 20px;
		margin-right: -20px;
		letter-spacing: 0.7px;
		display: flex;
		align-items: center;

		&--active {
			color: #e32c39 !important;
		}
	}

	&__parent .mainmenu__link:after {
		content: '';
		vertical-align: middle;
		margin: 0 20px 0 8px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 4px 4px 0 4px;
		border-color: #b29c22 transparent transparent transparent;
	}
	
	&__catalog {
		overflow: hidden;
		
		.mainmenu__link {
			color: #ffffff;
			padding: 17px 20px;
			background: #e32c3a;
			margin-right: -26px;
			position: relative;
			
			&:after {
				border-color: #ffffff transparent transparent transparent;
				margin: 0 24px 0 20px;
			}
			
			&:before {
				content: '';
				display: inline-block;
				background: url('../img/icon-menu.png') no-repeat;
				width: 17px;
				height: 15px;
				margin-right: 16px;
				position: relative;
			}
		}
	}
}

.mobilemenu {
	width: 300px;
	background: #ffffff;
	position: absolute;
	left: -300px;
	padding: 65px 0 0 20px;
	
	&__shadow {
		position: absolute;
		width: 768px;
		
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background: #808080;
			opacity: .5;
		}
	}
	
	&:before {
		content: none;
	}
	
	&__close {
		background: url('../img/icon-close.png') no-repeat center center #dddddd;
		position: absolute;
		right: 0;
		top: 0;
		width: 43px;
		height: 43px;
		cursor: pointer;
		
		&:hover {
			background-color: #e32d3a;
		}
	}
	
	.mainmenu__items {
		flex-direction: column;
		display: flex;

		.mainmenu__items {
			display: block;
			position: relative;
			background: transparent;
			width: auto;
			padding: 0;
			top: 0;
			margin-top: 20px;

			.mainmenu__items {
				display: none;
			}

			.mainmenu__link {
				font-size: 16px;
				margin-bottom: 15px;

				&:hover {
					color: #e32c39;
					background: none;
				}
			}
		}
	}

	.mainmenu__link {
		background: inherit;
		color: #333333;
		padding: 0;
		font-size: 27px;
		font-weight: 900;
		line-height: 23px;
		
		&:before {
			content: none;
		}
		
		&:hover {
			color: #e32c39;
			background: none;
		}
	}
}

.shadow {
	background: #000;
	opacity: .5;
	position: absolute;
	top: 174px;
	left: 0;
	min-height: calc(100% - 174px);
	width: 100%;
	z-index: 1001;
}

.noscroll {
	width: 100%;
	overflow-x: hidden;
}