.products {
	&__items {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	&__item {
		width: calc(33% - 30px);
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 35px;
		
		@include tablets() {
			flex-flow: column nowrap;
			justify-content: flex-start;
		}
		
		@include phones() {
			width: 100%;
			text-align: center;
			margin-bottom: 24px;
		}
		
		&--left {
			width: 33%;

			@include tablets() {
				width: 100%;
				height: 80px;
			}
			
			@include phones() {
				display: flex;
				height: auto;
			}
		}
		&--right {
			width: 67%;

			@include tablets() {
				width: 100%;
			}
		}
	}
	
	&__link {
		color: #e32d3a;
		border-bottom-color: #cdcdcd;
		font-size: 18px;
		font-weight: 700;
		
		&:hover {
			color: #333333;
			border-bottom-color: #f1979d;
		}
	}
	
	&__text {
		margin-top: 10px;
	}
}

@include phones() {
	.products__image {
		margin: auto;
	}
}