.slider {
	position: relative;
	overflow: hidden;
	
	&__image {
		z-index: 0;
		position: absolute;
		top: 0;
	}
	&__image.current {
		z-index: 1;
		position: relative;
	}
	
	&__pager {
		width: 63px;
		height: 63px;
		position: absolute;
		bottom: 0;
		z-index: 2;
		cursor: pointer;
		transition: background-color $transition;
		
		&:hover {
			background-color: darken(#ffe232, 20%);
		}
		
		@include tablets() {
			width: 42px;
			height: 42px;
		}

		@include phones() {
			position: absolute;
			top: calc(50% - 21px);
		}
	}
	
	&__back {
		right: 64px;
		background: url('../img/slider-back.png') no-repeat center center #ffe232;
		
		@include tablets() {
			right: 42px;
		}
		
		@include phones() {
			left: 0;
		}
	}
	
	&__front {
		right: 0;
		background: url('../img/slider-front.png') no-repeat center center #ffe232;
	}
	
	&__count {
		position: absolute;
		bottom: 12px;
		right: 146px;
		font-size: 27px;
		line-height: 38px;
		opacity: 0.5;
		color: #ffffff;
		z-index: 2;
		
		@include tablets() {
			font-size: 18px;
			line-height: 25px;
			right: 99px;
			bottom: 8px;
		}
		
		@include phones() {
			display: none;
		}
	}
}