extends ../_template

block variables
	- var title = 'Cart page'

block content
	+breadcrumbs(['Home', 'Cart'])
	h1 Cart
	.cart
		table.cart__table
			tr.cart__head
				th Product
				th Price each
				th Quantity
				th Cost
				th
			tr
				td 
					.cart__item
						a.cart__image(href="#")
							img(src="assets/img/cart1.jpg")
						a.cart__link(href="#") Scorpion Commander 15V 110A ESC SBEC (V3)
				td.cart__item_price 
					strong $
						span 449.99
				td
					.cart__count_block
						button.cart__button.cart__button--less.cart__button--disabled
						input.cart__count(value="1")
						button.cart__button.cart__button--more
				td.cart__item_total 
					strong $
						span 449.99
				td
					.cart__remove
						a(href="assets/js/remove.json") Remove
			tr
				td
					.cart__item
						a.cart__image(href="#")
							img(src="assets/img/cart2.jpg")
						a.cart__link(href="#") Scorpion Commander 15V 90A ESC SBEC (V3)
				td.cart__item_price 
					strong $
						span 199.99
				td
					.cart__count_block
						button.cart__button.cart__button--less.cart__button--disabled
						input.cart__count(value="1")
						button.cart__button.cart__button--more
				td.cart__item_total 
					strong $
						span 199.99
				td
					.cart__remove
						a(href="assets/js/remove.json") Remove
			tr
				td
					.cart__item
						a.cart__image(href="#")
							img(src="assets/img/cart3.jpg")
						a.cart__link(href="#") Scorpion Commander 15V 60A SBEC ESC (V3)
				td.cart__item_price 
					strong $
						span 169.99
				td
					.cart__count_block
						button.cart__button.cart__button--less
						input.cart__count(value="3")
						button.cart__button.cart__button--more
				td.cart__item_total 
					strong $
						span 509.97
				td
					.cart__remove
						a(href="assets/js/remove.json") Remove
		.cart__total
			.cart__total_block
				p.cart__total_price Total:
					strong $
						span 1 159.95
				p.cart__total_note Shipping cost is not included
		.cart__checkout
			button.button Check out