extends ../_template

block variables
	- var title = 'Catalog page'

block content
	+breadcrumbs(['Home', 'Catalog'])
	h1 Catalog
	.catalog
		+catalogItem('assets/img/catalog1.jpg', 'Aeroplane', 'Scorpion Motors are designed from the ground up with the best quality components available to provide an excellent value for you, the R/C aeroplane modeler.', ['Accessories', 'Motors'])
		+catalogItem('assets/img/catalog1.jpg', 'Electronic Speed Controllers', 'These brushless controllers are built from top quality parts and are designed to provide you with trouble-free operation.', ['14S Tribunus SBEC series', '6S Tribunus SBEC series', '6S Tribunus OPTO series', '4S BEC series', 'ESC Firmware', 'ESC Accessories', 'USB Charger'])
		+catalogItem('assets/img/catalog1.jpg', 'Helicopter', 'Scorpion Motors are designed from the ground up with the best quality components available to provide an excellent value for you, the R/C Helicopter modeler.', ['Accessories', 'Motors', 'HK-45 PAW EDITION'])
		+catalogItem('assets/img/catalog1.jpg', 'Car', 'Scorpion Motors are designed from the ground up with the best quality components available to provide an excellent value for you, the R/C Car modeler.', ['Car Accessories', 'Electrontic Speed Controllers', 'Motors'])
		+catalogItem('assets/img/catalog1.jpg', 'FPV Racer', 'This ultimate racing quad copter designed to provide fast, stable and agility maneuverability to race in any extreme racing course.', ['Scorpion QF1', 'Sky Strider 280', 'Accessories', 'Motors'])
		+catalogItem('assets/img/catalog1.jpg', 'Multicopter', 'Scorpion Motors are designed from the ground up with the best quality components available to provide an excellent value for you, the R/C Multicopter modeler.', ['Accessories', 'Motors'])
		+catalogItem('assets/img/catalog1.jpg', 'Batteries', 'Scorpion Power Batteries are designed from the ground up with the best quality battery chips available to provide an excellent value for you.', ['Car Batteries'])
		+catalogItem('assets/img/catalog1.jpg', 'Car', 'Scorpion Motors are designed from the ground up with the best quality components available to provide an excellent value for you, the R/C Speed Boat modeler.', ['Accessories', 'Electronic Speed Controllers', 'Motors'])
		+catalogItem('assets/img/catalog1.jpg', 'Tools', 'Our Tools can maintenance all the products we produce. Now we offer more tools for repairing the existing.', ['Maintenance kit', 'Tools', 'Tools Bag', 'Tools Pack'])
		+catalogItem('assets/img/catalog1.jpg', 'Accessories', 'Our accessories suit all the products we produce. Now we offer motor parts and connectors for building your own solutions or repairing the existing.', ['Backup Guard', 'Lock Strap', 'Modeling Mesh', 'Motor Accessories', 'Team Accessories'])
		+catalogItem('assets/img/catalog1.jpg', 'Discontinued', 'Check out our discontinued section and you might find some information for the old stuff.', ['Motors', 'Electronic Speed Controllers', 'Accessories', 'Scratch and Dent'])
		+catalogItem('assets/img/catalog1.jpg', 'Clearance', 'Check out our clearance section and you might find something interesting with affordable price.', ['Motors', 'Electronic Speed Controllers', 'Accessories', 'FPV Racer'])