extends ../_template

block variables
	- var title = 'Category page'

block content
	.twocol
		.col.category_right
			+breadcrumbs(['Home', 'Catalog', 'Electronic Speed Controllers'])
			h1 Electronic Speed Controllers
			.catalog_section
				.section__sort
					span Sort by:
					.select.section__select
						select
							option Newest
							option Cheapest
				.section__items.bestsellers__items
					+sectionItem(
						{
						hot: true, 
						image: "assets/img/section-product1.jpg", 
						title: "Scorpion Tribunus 14-200A (SBEC)",
						price_old: "$499.99",
						price: "$449.99",
						question: true
						}
					)
					+sectionItem(
					{
						new: true,
						incart: true,
						image: "assets/img/section-product2.jpg",
						title: "Scorpion Tribunus 06-120A (SBEC)",
						price: "$169.99",
						question: true
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product3.jpg",
						title: "Scorpion Commander 15V 110A ESC SBEC (V3)",
						price: "$119.99",
						link: true
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product4.jpg",
						title: "Scorpion Tribunus 06-120A (OPTO)",
						price: "$119.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product5.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product6.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product7.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product8.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product9.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product10.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product11.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product12.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product13.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product14.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
		.col.category_left
			ul.menu_left
				li
					a.menu_left__link.menu_left__link--main(href="#") Aeroplane
				li
					a.menu_left__link(href="#") Accessories
				li
					a.menu_left__link(href="#") Motors
				hr
				li
					a.menu_left__link.menu_left__link--main.menu_left__link--active(href="#") Electronic Speed Controllers
				li
					a.menu_left__link(href="#") 14S Tribunus SBEC series
				li
					a.menu_left__link(href="#") 6S Tribunus SBEC series
				li
					a.menu_left__link(href="#") 6S Tribunus OPTO series
				li
					a.menu_left__link(href="#") 4S BEC series
					ul
						li
							a.menu_left__link(href="#") LBEC series (V2)
							ul
								li
									a.menu_left__link(href="#") Compare
				li
					a.menu_left__link(href="#") ESC Firmware
				li
					a.menu_left__link(href="#") USB Charger
				li
					a.menu_left__link(href="#") ESC Accessories
				hr
				li
					a.menu_left__link.menu_left__link--main(href="#")  Helicopter
				li
					a.menu_left__link(href="#") Accessories
				li
					a.menu_left__link(href="#") HK-45 PAW EDITION
				li
					a.menu_left__link(href="#") Motors
				hr
				li
					a.menu_left__link.menu_left__link--main(href="#")  Car
				li
					a.menu_left__link(href="#") Car Accessories
				li
					a.menu_left__link(href="#") Motors
				li
					a.menu_left__link(href="#") Electrontic Speed Controllers
				hr
				li
					a.menu_left__link.menu_left__link--main(href="#")  FPV Racer
				li
					a.menu_left__link(href="#") Scorpion QF1
				li
					a.menu_left__link(href="#") Accessories
				li
					a.menu_left__link(href="#") Motors
				li
					a.menu_left__link(href="#") Sky Strider 280
				hr
				li
					a.menu_left__link.menu_left__link--main(href="#")  Multicopter
				li
					a.menu_left__link(href="#") Accessories
				li
					a.menu_left__link(href="#") Motors
				hr
				li
					a.menu_left__link.menu_left__link--main(href="#")  Batteries
				li
					a.menu_left__link(href="#") Car Batteries
				hr
				li
					a.menu_left__link.menu_left__link--main(href="#")  Boat
				li
					a.menu_left__link(href="#") Accessories
				li
					a.menu_left__link(href="#") Motors
				li
					a.menu_left__link(href="#") Electronic Speed Controllers
				hr
				li
					a.menu_left__link.menu_left__link--main(href="#")  Tools
				li
					a.menu_left__link(href="#") Maintenance kit
				li
					a.menu_left__link(href="#") Tools Bag
				li
					a.menu_left__link(href="#") Tools Pack
				li
					a.menu_left__link(href="#") Tools
				hr
				li
					a.menu_left__link.menu_left__link--main(href="#")  Accessories
				li
					a.menu_left__link(href="#") Backup Guard
				li
					a.menu_left__link(href="#") Modeling Mesh
				li
					a.menu_left__link(href="#") Motor Accessories
				li
					a.menu_left__link(href="#") Lock Strap
				li
					a.menu_left__link(href="#") Team Accessories
				hr
				li
					a.menu_left__link.menu_left__link--main(href="#")  Discontinued
				li
					a.menu_left__link(href="#") Motors
				li
					a.menu_left__link(href="#") Accessories
				li
					a.menu_left__link(href="#") Scratch and Dent
				li
					a.menu_left__link(href="#") Electronic Speed Controllers
				hr
				li
					a.menu_left__link.menu_left__link--main(href="#")  Clearance
				li
					a.menu_left__link(href="#") Motor
				li
					a.menu_left__link(href="#") Accessories
				li
					a.menu_left__link(href="#") FPV Racer
				li
					a.menu_left__link(href="#") Electronic Speed Controllers