extends ../_template

block variables
	- var title = 'Compare page'

block content
	+breadcrumbs(['Home', 'Catalog', 'Compare Lists', 'Compare LBEC series (V2) items'])
	h1 Compare LBEC series (V2) items
	.compare
		.compare__header
			.compare__specs
				p
					strong Show specifications:
				.compare__radio
					input(type="radio" name="radio" id="radio1" checked)
					label(for="radio1") All
				.compare__radio
					input(type="radio" name="radio" id="radio2")
					label(for="radio2") Difference
			.compare__title Weight (Without Connectors)
			.compare__title Max Continuous Current
			.compare__title Operating Voltage Range
			.compare__title Max BEC Output
			.compare__title On Resistance
			.compare__title Size
		.compare__items
			.compare__item
				.icon_close
				.compare__product
					+sectionItem(
					{
						image: "assets/img/section-product3.jpg",
						title: "Scorpion Commander 15V 110A ESC SBEC (V3)",
						price: "$119.99"
					}
					)
				.compare__value 17.7 g (0.62 oz)
				.compare__value 15 Amps
				.compare__value 5 to 15 Volts
				.compare__value 2 Amps @ 5 V
				.compare__value 7.11 mOhms
				.compare__value 43 x 26 x 9 mm (1.67 x 1.04 x 0.35 in)
			.compare__item
				.icon_close
				.compare__product
					+sectionItem(
					{
						image: "assets/img/section-product4.jpg",
						title: "Scorpion Tribunus 06-120A (OPTO)",
						price: "$119.99"
					}
					)
				.compare__value 20.3 g (0.72 oz)
				.compare__value 25 Amps
				.compare__value 5 to 15 Volts
				.compare__value 3 Amps @ 5 V
				.compare__value 3.66 mOhms
				.compare__value 48 x 26 x 9 mm (1.89 x 1.04 x 0.35 in)
			.compare__item
				.icon_close
				.compare__product
					+sectionItem(
					{
						image: "assets/img/section-product5.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
				.compare__value 9g (0.33 oz)
				.compare__value 11 Amps
				.compare__value 5 to 15 Volts
				.compare__value 1 Amps @ 5 V
				.compare__value 6.77 mOhms
				.compare__value 27 x 17 x 9 mm (1.06 x 0.67 x 0.35 in)
						