extends ../_template

block variables
	- var title = 'Downloads page'

block content
	+breadcrumbs(['Home', 'Support', 'Downloads'])
	h1 Downloads
	.downloads
		h2 Calculations tools
		p
			a(href="#") Scorpion Head Speed Calculator
			span ZIP, 17.7 Mb
		p
			a(href="#") Scorpion Calc v3.67
			span 3.98 Mb
		p
			a(href="#") SC_DCalc_Peakeff
			span 35 Kb
		h2 Calculations tools
		p
			a(href="#") Scorpion Tribunus 1.02 for 14S use
			span MSI, 31 Mb
		p
			a(href="#") Scorpion Vanguard S3-140/80 V2.1 For XP
			span ZIP,  28 Mb
		p
			a(href="#") Scorpion Vanguard S3-140/80 V2.1 For Win 7
			span ZIP,  9 Mb
		p
			a(href="#") Scorpion Vanguard S2-50 Clubrace program V2
			span EXE,  3.4 Mb
		h2 Drivers
		p
			a(href="#") Scorpion V Link II Cable CH341SER Driver (For All ESC use) (zip. 341kb)
			span ZIP, 17.7 Mb
		p
			a(href="#") Commander V link Cable PL2303 Driver (for Commander V Series or above only)
			span 3.98 Mb
		h2 Manuals & Miscellaneous
		p
			a(href="#") Scorpion Head Speed Calculator
			span ZIP, 17.7 Mb
		p
			a(href="#") Scorpion Calc v3.67
			span 3.98 Mb
		p
			a(href="#") SC_DCalc_Peakeff
			span 35 Kb