extends ../_template

block variables
	- var title = 'Home page'

block content
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="#")
					img(src="assets/img/slider.jpg")
			.swiper-slide
				a(href="#")
					img(src="assets/img/slider.jpg")
			.swiper-slide
				a(href="#")
					img(src="assets/img/slider.jpg")
		.slider__count
		.slider__pager.slider__back
		.slider__pager.slider__front
	.bestsellers
		.caption Best sellers
		.bestsellers__items
			.bestsellers__item
				.icon_hot
				.bestsellers__image_wrap
					a.bestsellers__image_link(href="#")
						img.bestsellers__image(src="assets/img/bestsellers1.jpg")
				.bestsellers__title
					a.bestsellers__title_link(href="#") Scorpion M-4215-320kv
				.bestsellers__price_wrap
					.bestsellers__prices
						.bestsellers__price--old $189.99
						.bestsellers__price $159.99
					a.bestsellers__addtocart(href="#")
				.bestsellers__question 
					| Backorder
					.bestsellers__tooltip Ship within 2 weeks
			.bestsellers__item
				.bestsellers__image_wrap
					a.bestsellers__image_link(href="#")
						img.bestsellers__image(src="assets/img/bestsellers2.jpg")
				.bestsellers__title
					a.bestsellers__title_link(href="#") Scorpion Vanguard S3-80 Super Stock Kit Set
				.bestsellers__price_wrap
					.bestsellers__price $209.99
					a.bestsellers__addtocart(href="#")
				.bestsellers__question
					| Backorder
					.bestsellers__tooltip Ship within 2 weeks
			.bestsellers__item
				.bestsellers__image_wrap
					a.bestsellers__image_link(href="#")
						img.bestsellers__image(src="assets/img/bestsellers3.jpg")
				.bestsellers__title
					a.bestsellers__title_link(href="#") Scorpion SII-4035-330KV
				.bestsellers__price_wrap
					.bestsellers__price $169.99
					a.bestsellers__addtocart(href="#")
				a.bestsellers__link(href="#") Out of stock
			.bestsellers__item
				.bestsellers__image_wrap
					a.bestsellers__image_link(href="#")
						img.bestsellers__image(src="assets/img/bestsellers4.jpg")
				.bestsellers__title
					a.bestsellers__title_link(href="#") Scorpion SII-4035-330KV
				.bestsellers__price_wrap
					.bestsellers__price $169.99
					a.bestsellers__addtocart(href="#")
	.latestnews
		.caption
			a.caption__link(href="#") Latest news
		.latestnews__items
			.latestnews__item
				a.latestnews__image_link(href="#")
					img.latestnews__image(src="assets/img/latestnews1.jpg")
				.latestnews__data 04.07.2017
				a.latestnews__text(href="#") New Release! A new motor HKIII-5025-520kv, A special motor for F3S use!
			.latestnews__item
				a.latestnews__image_link(href="#")
					img.latestnews__image(src="assets/img/latestnews2.jpg")
				.latestnews__data 24.02.2017
				a.latestnews__text(href="#") New Release! A newest generation of ESC, Scorpion Tribunus 14-200A ESC SBEC, Pre-Order time just up!
			.latestnews__item
				a.latestnews__image_link(href="#")
					img.latestnews__image(src="assets/img/latestnews3.jpg")
				.latestnews__data 23.02.2017
				a.latestnews__text(href="#") New Released! Scorpion RS-3420-21.5T ETS version sensored brushless DC car motor.
			.latestnews__item
				a.latestnews__image_link(href="#")
					img.latestnews__image(src="assets/img/latestnews4.jpg")
				.latestnews__data 26.01.2017
				a.latestnews__text(href="#") HOT Released! Scorpion Vanguard S2-50 Clubrace ESC, the first RC Car ESC that has zero timing, blinky mode and limit RPM
	.banner
		.banner__block.banner__block--yellow
			.caption.banner__caption 
				a(href="#") Scorpion blog
			p Scorpion Power System is pleased to announce the release of our new series of Brushless Outrunner Motors.
			a.banner__link(href="#") Read More
		.banner__block
			img.banner__image(src="assets/img/banner.jpg")
	.products
		.caption Our products
		.products__items
			.products__item
				.products__item--left
					img.products__image(src="assets/img/product1.jpg")
				.products__item--right
					a.products__link(href="#") Aeroplane
					.products__text Scorpion Motors are designed from the ground up with the best quality components available to provide an excellent value for you, the R/C aeroplane modeler.
			.products__item
				.products__item--left
					img.products__image(src="assets/img/product2.jpg")
				.products__item--right
					a.products__link(href="#") Electronic Speed Controllers
					.products__text These brushless controllers are built from top quality parts and are designed to provide you with trouble-free operation.
			.products__item
				.products__item--left
					img.products__image(src="assets/img/product3.jpg")
				.products__item--right
					a.products__link(href="#") Helicopter
					.products__text Scorpion Motors are designed from the ground up with the best quality components available to provide an excellent value for you, the R/C Helicopter modeler.
			.products__item
				.products__item--left
					img.products__image(src="assets/img/product4.jpg")
				.products__item--right
					a.products__link(href="#") Car
					.products__text Scorpion Motors are designed from the ground up with the best quality components available to provide an excellent value for you, the R/C Car modeler.
			.products__item
				.products__item--left
					img.products__image(src="assets/img/product5.jpg")
				.products__item--right
					a.products__link(href="#") FPV Racer
					.products__text This ultimate racing quad copter designed to provide fast, stable and agility maneuverability to race in any extreme racing course.
			.products__item
				.products__item--left
					img.products__image(src="assets/img/product6.jpg")
				.products__item--right
					a.products__link(href="#") Multicopter
					.products__text Scorpion Motors are designed from the ground up with the best quality components available to provide an excellent value for you, the R/C Multicopter modeler.
			.products__item
				.products__item--left
					img.products__image(src="assets/img/product7.jpg")
				.products__item--right
					a.products__link(href="#") Batteries
					.products__text Scorpion Power Batteries are designed from the ground up with the best quality battery chips available to provide an excellent value for you.
			.products__item
				.products__item--left
					img.products__image(src="assets/img/product8.jpg")
				.products__item--right
					a.products__link(href="#") Boat
					.products__text Scorpion Motors are designed from the ground up with the best quality components available to provide an excellent value for you, the R/C Speed Boat modeler.
			.products__item
				.products__item--left
					img.products__image(src="assets/img/product9.jpg")
				.products__item--right
					a.products__link(href="#") Tools
					.products__text Our Tools can maintenance all the products we produce. Now we offer more tools for repairing the existing.
			.products__item
				.products__item--left
					img.products__image(src="assets/img/product10.jpg")
				.products__item--right
					a.products__link(href="#") Accessories
					.products__text Our accessories suit all the products we produce. Now we offer motor parts and connectors for building your own solutions or repairing the existing.
			.products__item
				.products__item--left
					img.products__image(src="assets/img/product11.jpg")
				.products__item--right
					a.products__link(href="#") Discontinued
					.products__text Check out our discontinued section and you might find some information for the old stuff.
			.products__item
				.products__item--left
					img.products__image(src="assets/img/product12.jpg")
				.products__item--right
					a.products__link(href="#") Clearance
					.products__text Check out our clearance section and you might find something interesting with affordable price.
	hr
	.maintext
		p 
			strong Scorpion Power System 
			| is pleased to announce the release of our new series of Brushless Outrunner Motors. These motors raise the bar in both quality and performance,and are establishing themselves as the new Gold Standard for model aircraft power!
	
		p All of the Scorpion Brushless Motors are manufactured from the finest quality components using state of the art CNC machine tools. Every component of the motors are of the highest quality, from the materials used, to the box they ship in.
	
		p They are designed to provide reliable power for your model aircraft at affordable prices, offering a total performance solution.