extends ../_template

block variables
	- var title = 'Links page'

block content
	+breadcrumbs(['Home', 'Links'])
	h1 Links
	p
		a.h3(href="http://www.scorpionsystem.com/links/online_forums") Online Forums
	p
		a.h3(href="http://www.scorpionsystem.com/Links/partners") Partners
	p 
		a.h3(href="http://www.scorpionsystem.com/Links/events/") Events