extends ../_template

block variables
	- var title = 'Login page'

block content
	+breadcrumbs(['Home', 'Login',])
	h1 Login
	.login
		.login__block
			.login__caption New Customer
			p
				strong.login__subtitle Register account 
			p By creating an account you will be able to shop faster, be up to date on an order’s status, and keep track of the orders you have previously made.
			button.button Continue
		.login__block
			.login__caption Returning Customer
			form.login__form
				.form__input_block
					label(for="email").form__label Email:
						span.icon_required
					input#email.form__input(type="text" required)
				.form__input_block
					label(for="password").form__label Password:
						span.icon_required
					input#password.form__input(type="text" required)
				.form__input_block
					a.form__forgot(href="#") Forgot your password?
				.form__input_block
					button.button.form__login_btn Login