extends ../_template

block variables
	- var title = 'Project map'

block content
	h1 Project map
	ol
		li
			a(href="index.html") Main
		li
			a(href="catalog.html") Catalog
		li
			a(href="category.html") Category
		li
			a(href="subcategory.html") Subcategory
		li
			a(href="compare.html") Compare
		li
			a(href="product.html") Product
		li
			a(href="cart.html") Cart
		li
			a(href="login.html") Login
		li
			a(href="registration.html") Registration
		li
			a(href="order-step2.html") Order step 2
		li
			a(href="order-step3.html") Order step 3
		li
			a(href="orders.html") Orders
		li
			a(href="content.html") Content page
		li
			a(href="support.html") Support
		li
			a(href="downloads.html") Downloads
		li
			a(href="technical-review.html") Technical Review-Support
		li
			a(href="review-item.html") Review item
		li
			a(href="team.html") Team
		li
			a(href="person.html") Person
		li
			a(href="where-north_america.html") Where to buy, continent
		li
			a(href="where.html") Where to buy
		li
			a(href="links.html") Links
		li
			a(href="news.html") News list
		li
			a(href="news-detail.html") News detail