extends ../_template

block variables
	- var title = 'News detail page'

block content
	.twocol
		.col.col_right
			+breadcrumbs(['Home', 'About Us', 'News', 'Brushless Outrunner Motors'])
			h1 Brushless Outrunner Motors
			.news__date 22.09.2017
			p Scorpion Power System is pleased to announce the release of our new series of Brushless Outrunner Motors. These motors raise the barin both quality and performance, and are establishing themselves as the new Gold Standard for model aircraft power! All of the Scorpion Brushless Motors are manufactured from the finest quality components using state of the art CNC machine tools. Every component of the motors are of the highest quality, from the materials used, to the box they ship in. They are designed to provide reliable power for your model aircraft at affordable prices, offering a total performance solution.
			p Scorpion Motors are designed from the ground up with the best quality components available to provide an excellent value for you, the R/C modeler. We utilize high quality aluminum alloys that are CNC machined and anodized for a fit and finish that is second to none. Unlike other motor manufactures that use off-the-shelf NdFeB magnets with a maximum Curie temperature of 80 to 100 degrees C, our motor magnets are custom manufactured to be able to withstand high temperatures. The wire we use to wind the stators is rated to 180 degrees C (356 F), so it can take the heat and keep on performing. This all adds up to a motor that can provide you the power you need, without going up in a cloud of smoke if you push it a little too hard. With all these features, you would expect to pay top dollar for a motor of this caliber, but with our efficient manufacturing procedures and streamlined distribution chain, Scorpion motors retail for about 1/2 the price of other “Name Brand” Brushless Motors, making them one of the best overall values on the market today. We are so confident in the quality of our motors that we back them with a 2-Year Warranty against defects in materials and workmanship. For full details about our warranty coverage please see our Product Warranty Page. You deserve the the best quality motor available at an affordable price, so the next time you needa brushless motor, do yourself a favor and give Scorpion Brushless motors a try, you will be glad you did!
			p For a complete power system, combine a Scorpion motor with one of our new 
				a(href="#") Commander series Brushless Speed Controllers
				| , to get a matched package that provides both Precision and Performance for your model!
			p.text_center
				img(src="assets/img/content1.jpg")
			h2 The Top Ten Reasons Why You Should Try Scorpion Brushless Motors
			p.text_center
				img(src="assets/img/content2.jpg")
			p
				ol
					li Machined aluminum front housing with 5 angled cooling holes that pump air through the motor while it runs.
					li Rear threaded mounting holes with both 16 mm and 19mm hole spacings fit a variety of applications.
					li A machined aluminum cross style mount with hardware and a threaded prop mount is included with every motor, along witha wobbly adapter on select models.
					li Specially designed NdFeB magnets with high temperature rating for trouble-free operation.
					li Durable black Electro-Coat finish on the flux ring to look good for years to come. We also laser engrave our logo and model number on each motor instead of using a sticker to help maintain the balance of the motor.
					li Rear locking ring maintains magnet spacing and also helps to strengthen the rear end of the flux ring assembly. 
					li High quality stator plates are epoxy coated on the inner surface to prevent winding shorts. 0.20mm stator plates are used on the 22mm motors, with 0.35mm stator plates on larger sizes.
					li High Temperature 180 C (356 F) rated wire is used for winding the motors to minimize the risk of burning up the motor. The motors are also machine wound to ensure consistant winds.
					li High quality shielded ball bearings are used to support the motor shaft in all our motors.
					li High temperature adhesives are used to secure the stator windings and prevent them from shifting and getting pinched or shorting out .
			p
				| &larr;&nbsp;&nbsp;
				a(href="#") Back to news list
		.col.col_left
			.menu_left
				p.menu_left__link--main Browse by year:
				a.menu_left__link.menu_left__link--active(href="#") 2017
				a.menu_left__link(href="#") 2016
				a.menu_left__link(href="#") 2015
				a.menu_left__link(href="#") 2014
				a.menu_left__link(href="#") 2013
				a.menu_left__link(href="#") 2012
				a.menu_left__link(href="#") 2011
				a.menu_left__link(href="#") 2010
				a.menu_left__link(href="#") 2009
				a.menu_left__link(href="#") 2008
				a.menu_left__link(href="#") 2007