extends ../_template

block variables
	- var title = 'News page'

block content
	.twocol
		.col.col_right
			+breadcrumbs(['Home', 'About Us', 'News'])
			h1 Latest News
			.news
				.news__item
					a.news__title(href="#") New Released! Scorpion Anti Spark DIY kit
					.news__date 22.09.2017
					.news__preview So many people don’t like the sparks when connect the battery to the ESC. Now we have a new DIY kit for you.
				.news__item
					a.news__title(href="#") New Released! Scorpion HKII-4530-500kv & HKII-4530-540kv motors
					.news__date 08.09.2017
					.news__preview In March of 2011, Scorpion released the first HK-4530-540kv Limited Edition motor.  Since that date, the HK-4530 has been the motor of choice for 700-class RC helicopters, and has become the performance benchmark for every other model motor manufacturer.
				.news__item
					a.news__title(href="#") New Release!!! Custom made motor shaft for TDF helicopter !
					.news__date 18.08.2017
					.news__preview To unleash the power within Henseleit​ TDF helicopter, a motor with a special shaft for it is indispensable.
				.news__item
					a.news__title(href="#") Hot News!!! Scorpion M-22 series drone motors big sale !
					.news__date 16.08.2017
				.news__item
					a.news__title(href="#") New Release! Custom made motor shaft for special helicopter
					.news__date 15.08.2017
				.news__item
					a.news__title(href="#") Fake email from (scorpionpower@icloud.com)
					.news__date 27.07.2017
		.col.col_left
			.menu_left
				p.menu_left__link--main Browse by year:
				a.menu_left__link.menu_left__link--active(href="#") 2017
				a.menu_left__link(href="#") 2016
				a.menu_left__link(href="#") 2015
				a.menu_left__link(href="#") 2014
				a.menu_left__link(href="#") 2013
				a.menu_left__link(href="#") 2012
				a.menu_left__link(href="#") 2011
				a.menu_left__link(href="#") 2010
				a.menu_left__link(href="#") 2009
				a.menu_left__link(href="#") 2008
				a.menu_left__link(href="#") 2007