extends ../_template

block variables
	- var title = 'Orders page'

block content
	+breadcrumbs(['Home', 'My account'])
	h1 My orders
	.orders
		.orders__row
			strong Show orders:
			.select.orders__select
				select
					option Current
					option Delivered
					option Canceled
		.orders__table_wrap
			table.orders__table
				tr.orders__head
					th ID
					th Items
					th Ship to
					th Date
					th Payment method
					th Total
					th Status
				tr
					td 3940
					td
						a(href="#") Scorpion SII-3026 Brushless Motor Kit
					td 
						| Anthony Jones
						br
						| Lenina st., 125-75, Yaroslavl, Russia
						br
						| 150000
						| Shipped by: DHL
					td 01.06.2017
					td Balance
					td $99.99
					td Processing
				tr
					td 2597
					td
						a(href="#") Scorpion S-1804-1650KV
					td
						| Anthony Jones
						br
						| Lenina st., 125-75, Yaroslavl, Russia
						br
						| 150000
						| Shipped by: Custom
					td 25.12.2016
					td Credit Card
					td $38.99
					td Processing
				tr
					td 2597
					td
						a(href="#") Scorpion SII-6530-150KV
					td
						| Anthony Jones
						br
						| Lenina st., 125-75, Yaroslavl, Russia
						br
						| 150000
						| Shipped by: Custom
					td 25.07.2016
					td Balance
					td $399.99
					td Processing
					