extends ../_template-user

block variables
	- var title = 'Order step 2 page'

block content
	+breadcrumbs(['Home', 'My account', 'Purchase order'])
	h1 Order step 2 of 3: Shipping method
	.order
		form.order__form
			.order__row
				label.order__label Shipping Method:
				.select.order__select
					select
						option EMS
						option DHL
						option FedEx
						option UPS
						option Registered air parcel POST
			.order__row
				label.order__label Shipment Rates:
				.icon_free
			.order__row
				label.order__label Shipment Origin:
				.order__origin Hong Kong
			p Duty and Tax aren’t added to the order total.
			table.table_2col.order__table
				tr
					th Shipping Method
					th Estimated delivery time
						.icon_required
				tr
					td FedEx
					td 2-3 days
				tr
					td DHL
					td 2-3 days
				tr
					td UPS
					td 2-4 days
				tr
					td EMS
					td 3-7 days
				tr
					td Registered air parcel POST
					td 7-12 days
			p
				.icon_required
				|  The estimated delivery time is exclude the custom clearance processing time and only applied to major countries and cities.
			p For remote area, it might require additional transit time and custom clearance. 
			p For details of delivery date, please contact our representative at 
				a(href="mailto:support@spihk.com") support@spihk.com
			button.button.button_grey.order__button Recalculate
			button.button.order__button Next
			