extends ../_template

block variables
	- var title = 'Order step 3 page'

block content
	+breadcrumbs(['Home', 'My account', 'Purchase order'])
	h1 Order step 3 of 3: Payment
	.order
		form.order__form
			table.table_2col.order__table
				tr
					td Products cost:
					td $449.99
				tr
					td Shipment rates:
					td $0.00
				tr.table__row--grey
					td 
						strong Order Total:
					td 
						strong $449.99
			h2 Gift certificate
			p
				label.order__label.order__label--small(for="cert") Enter certificate code:
				br
				input.order__input#cert(type="text")
			button.button.button_green Activate certificate
			hr.order_margins
			h2 Payment type:
			p
				.select.order__select
					select
						option PayPal
						option Credit card
			button.button Process payment