extends ../_template

block variables
	- var title = 'Person page'

block content
	+breadcrumbs(['Home', 'About Us', 'Team Scorpion', 'Alex Wiehenstroth'])
	h1 Alex Wiehenstroth
	.person
		.person__info
			img.person__image(src="assets/img/person.jpg")
			.person__table
				.twocol
					.col
						strong Country:
					.col Germany
				.twocol
					.col
						strong RC Type:
					.col Helicopter
				.twocol
					.col
						strong Flying Year Since:
					.col 2010
		h3 Motors:
		ul
			li
				a(href="#") Scorpion HK-4525-520KV - ULTIMATE
			li
				a(href="#") Scorpion HKII-4225-610KV Limited Edition
			li
				a(href="#") Scorpion HK-4015-1070KV
		p Hi, I´m Alex Wiehenstroth and i live in Guetersloh-Germany.
		p I have been flying RC helicopters since 2010. My first competition was HeliMasters in 2013. I´ve joined the Mikado team in 2014 and Scorpion Power Systems team in 2015, which is a gladness for me.
		p I have been using Scorpion Motors since i started flying in 2010. They bring the needed power into my Heli, which is really important, especially for competitions.
		p At the moment i´m using the Commander V-Series ESC in combination with the HKIII-4525 Motors in my helicopters (Logo 690SX& Logo 700XXteme), which is the most reliable and powerful combination I´ve ever used. I also use the HK-4015 in my Logo 480XXtreme.
		p All pilots work together with Scorpion to test and develop new product lines to reach the highest level of Power systems in the RC business.
		h3 My Events:
		ul
			li IRCHA
			li 3D Masters/HeliMasters Venlo
			li HeliMasters Noerdlingen
			li 3D Cup France
			li Alpine Heli Smackdown Swiss
			li HeliChallenge Swiss
			li RotorLive Germany
			li Habo HeliMeeting Sweden
			li HeliDays Myto Czech Republic
			li Vbar Meeting 25years Mikado
			li many local FunFly´s in Germany
		p All pilots work together with Scorpion to test and develop new product lines to reach the highest level of Power systems in the RC business.