extends ../_template

block variables
	- var title = 'Product page'

block content
	+breadcrumbs(['Home', 'Catalog', 'Electronic Speed Controllers', '4S BEC series', 'Scorpion Tribunus 14-200A (SBEC)'])
	h1 Scorpion Tribunus 14-200A (SBEC)
	.product
		.product__subtitle [Tribunus_14_200A]
		.product__row
			.gallery.product__gallery
				.gallery__thumbs
					img.gallery__thumb(src="assets/img/gallery-small1.jpg" data-img="assets/img/gallery-main1.jpg")
					img.gallery__thumb(src="assets/img/gallery-small2.jpg" data-img="assets/img/gallery-main2.jpg")
					img.gallery__thumb(src="assets/img/gallery-small3.jpg" data-img="assets/img/gallery-main3.jpg")
					img.gallery__thumb(src="assets/img/gallery-small4.jpg" data-img="assets/img/gallery-main4.jpg")
				.gallery__full
					img.gallery__main(src="assets/img/gallery-main1.jpg")
			.product__price_block
				.icon_hot
				.product__price
					.product__price--old $529.99
					br
					| $449.99
				button.button.product__incart In Cart
				.product__backorder Backorder (ship within 60 days)
		.product__desc
			h2 Product Description
			p Airplane and Heli mode.
			p Stored and unstored Governor, external governor.
			p Data Logging, Data output port for external data logging device, such as Mikado V control / Vbar combinations. Jeti Telemetry , JLog 3(more compatible device will be added gradually like Futaba .etc.).
			p ESC setup can be set by Mikado V control Radio.
			p PC connectivity, Android connectivity ( OTG cable needed) , V link II Cable(optional) plus Diode adaptor(included) cable needed.
			p Supported HvLi battery 14S total 61V.
			p Size: 83.4 x 45.2 x 30 mm mm.
			p Weight: 216 Grams.
		h2 Video Review
		.product__video_block
			.product__video
				p
					iframe(width="100%" height="312" src="https://www.youtube.com/embed/SZfNMJFOve8" frameborder="0" allowfullscreen)
				p Mikado Proving Grounds Rev 2 Ep1 - Scorpion Trinunus 200 with Integration to VBC
			.product__video
				p
					iframe(width="100%" height="312" src="https://www.youtube.com/embed/ioq1fXwq5vA" frameborder="0" allowfullscreen)
				p The Scorpion Tribunus 14s-200A ESC: Overview, Step by Step Setup & Flight Demonstration
		.product__download
			h2 Download
			p.product__download_item
				a.product__download_link(href="#") Scorpion Tribunus 14-200A - User Manual 
				span.product__download_desc PDF, 12.5 Mb
			p.product__download_item
				a.product__download_link(href="#") Scorpion Tribunus Heli Program V1.02 
				span.product__download_desc MSI, 25.5 Mb
			p.product__download_item
				a.product__download_link(href="#") Scorpion V Link II Cable Ch240 Driver (For all ESC use) 
				span.product__download_desc ZIP, 1.36 Mb
		.product__specs
			h2 Specifications
			- 
				var table = [
					{col1:'Max Continuous Current', col2:'200 Amps'},
					{col1:'Peak Current', col2:'250Amps'},
					{col1:'Operating Voltage Range', col2:'14-61 Volts'},
					{col1:'BEC Output voltage', col2:'5.1V to 8.3V adjustable'},
					{col1:'Max Continuous BEC Output', col2:'10 Amps @ 8.3 V'},
					{col1:'Peak BEC Output', col2:'20 Amps/1s @ 8.3 V'},
					{col1:'On Resistance', col2:'055 mOhms *2'},
					{col1:'Size', col2:'83.4 x 45.2 x 30 mm (3.28 x 1.78 x 1.18 in)'},
					{col1:'Weight (Without Connectors)', col2:'216 (7.62 oz)'}
				];
			+table2col(table)
		.product__included
			h2 Included in the Box
			- 
				var table = [
					{col1: 'Diode adaptor cable', col2: '1'},
					{col1: 'Connection cable', col2: '2'},
				];
			+table2col(table)
		.product__weight
			h2 Weight including packaging
			p 607g