extends ../_template

block variables
	- var title = 'Registration page'

block content
	+breadcrumbs(['Home', 'My account', 'Registration'])
	h1 Registration
	.registration
		p.success Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p.error 
			strong Please fill the following required fields: 
			| "First name", "Last name", "Email", "Address", "City", "Zip", "Retype password" and "Phone"
		form.registration__form
			h2 Email and password
			.registration__row
				label.registration__label(for="email") 
					strong Email:
					.icon_required
				input.registration__input#email(type="text" required data-title="Email")
			.registration__row
				label.registration__label(for="password") 
					strong Password:
					.icon_required
				input.registration__input#password(type="password" required data-title="Password")
			.registration__row
				label.registration__label(for="confirmpassword") 
					strong Retype password:
					.icon_required
				input.registration__input#confirmpassword(type="password" required data-title="Retype password")
			h2 Personal information
			.registration__row
				label.registration__label(for="gender") Gender: 
				.select.registration__select#gender
					select
						option Male
						option Female
						option Other
			.registration__row
				label.registration__label(for="company") Company:
				input.registration__input#company(type="text")
			.registration__row
				label.registration__label(for="firstname") 
					strong First name:
					.icon_required
				input.registration__input#firstname(type="text" required data-title="First name")
			.registration__row
				label.registration__label(for="lastname") 
					strong Last name:
					.icon_required
				input.registration__input#lastname(type="text" required data-title="Last name")
			.registration__row
				label.registration__label(for="address") 
					strong Address:
					.icon_required
				input.registration__input#address(type="text" required data-title="Address")
			.registration__row
				label.registration__label(for="address2") Address 2:
				input.registration__input#address2(type="text")
			.registration__row
				label.registration__label(for="city") 
					strong City:
					.icon_required
				input.registration__input#city(type="text" required data-title="City")
			.registration__row
				label.registration__label(for="state") State:
				input.registration__input#state(type="text")
			.registration__row
				label.registration__label(for="country") 
					strong Country:
					.icon_required
				.select.registration__select#country
					select(required data-title="Country")
						option(value="") Choose country
						option(value="1") USA
						option(value="2") Russia
						option(value="3") Germany
			.registration__row
				label.registration__label(for="zip") 
					strong Zip:
					.icon_required
				input.registration__input#zip(type="text" required data-title="Zip")
			.registration__row
				label.registration__label(for="phone") 
					strong Phone:
					.icon_required
				input.registration__input#phone(type="text" required data-title="Phone")
			.registration__row
				label.registration__label(for="fax") Fax:
				input.registration__input#fax(type="text")
			.registration__row
				.registration__col2 
					.icon_required
					strong Required field requireds 
					|  are marked with asterisk 
			.registration__row
				.registration__col2
					button.button Register