extends ../_template

block variables
	- var title = 'Review item page'

block content
	+breadcrumbs(['Home', 'Support', 'Technical Review/Support', 'How to Program a Scorpion Commander Speed Controller'])
	h1 How to Program a Scorpion Commander Speed Controller
	.review
		p 
			iframe(width="560" height="315" src="https://www.youtube.com/embed/9IkOWJ6Q684" frameborder="0" allowfullscreen)
		p.review__text In this video we show you how to use the wireless IR programming system that comes with every Scorpion Speed Controller.