extends ../_template

block variables
	- var title = 'Subcategory page'

block content
	.twocol
		.col.category_right
			+breadcrumbs(['Home', 'Catalog', 'Electronic Speed Controllers', '14S Tribunus SBEC series'])
			h1 14S Tribunus SBEC series
			.catalog_section
				.section__sort
					span Sort by:
					.select.section__select
						select
							option Newest
							option Cheapest
				.section__items.bestsellers__items
					+sectionItem(
						{
						hot: true, 
						image: "assets/img/section-product1.jpg", 
						title: "Scorpion Tribunus 14-200A (SBEC)",
						price_old: "$499.99",
						price: "$449.99",
						question: true
						}
					)
					+sectionItem(
					{
						hot: true,
						image: "assets/img/section-product2.jpg",
						title: "Scorpion Tribunus 06-120A (SBEC)",
						price: "$169.99",
						question: true
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product3.jpg",
						title: "Scorpion Commander 15V 110A ESC SBEC (V3)",
						price: "$119.99",
						link: true
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product4.jpg",
						title: "Scorpion Tribunus 06-120A (OPTO)",
						price: "$119.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product5.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product6.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product7.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product8.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product9.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product10.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product11.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product12.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product13.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
					+sectionItem(
					{
						image: "assets/img/section-product14.jpg",
						title: "Scorpion Commander 15V 90A ESC SBEC (V3)",
						price: "$109.99"
					}
					)
		.col.category_left
			.menu_left
				a.menu_left__link.menu_left__link--main(href="#") Aeroplane
				a.menu_left__link(href="#") Accessories
				a.menu_left__link(href="#") Motors
				hr
				a.menu_left__link.menu_left__link--main(href="#") Electronic Speed Controllers
				a.menu_left__link.menu_left__link--active(href="#") 14S Tribunus SBEC series
				a.menu_left__link(href="#") 6S Tribunus SBEC series
				a.menu_left__link(href="#") 6S Tribunus OPTO series
				a.menu_left__link(href="#") 4S BEC series
				a.menu_left__link(href="#") ESC Firmware
				a.menu_left__link(href="#") USB Charger
				a.menu_left__link(href="#") ESC Accessories
				hr
				a.menu_left__link.menu_left__link--main(href="#")  Helicopter
				a.menu_left__link(href="#") Accessories
				a.menu_left__link(href="#") HK-45 PAW EDITION
				a.menu_left__link(href="#") Motors
				hr
				a.menu_left__link.menu_left__link--main(href="#")  Car
				a.menu_left__link(href="#") Car Accessories
				a.menu_left__link(href="#") Motors
				a.menu_left__link(href="#") Electrontic Speed Controllers
				hr
				a.menu_left__link.menu_left__link--main(href="#")  FPV Racer
				a.menu_left__link(href="#") Scorpion QF1
				a.menu_left__link(href="#") Accessories
				a.menu_left__link(href="#") Motors
				a.menu_left__link(href="#") Sky Strider 280
				hr
				a.menu_left__link.menu_left__link--main(href="#")  Multicopter
				a.menu_left__link(href="#") Accessories
				a.menu_left__link(href="#") Motors
				hr
				a.menu_left__link.menu_left__link--main(href="#")  Batteries
				a.menu_left__link(href="#") Car Batteries
				hr
				a.menu_left__link.menu_left__link--main(href="#")  Boat
				a.menu_left__link(href="#") Accessories
				a.menu_left__link(href="#") Motors
				a.menu_left__link(href="#") Electronic Speed Controllers
				hr
				a.menu_left__link.menu_left__link--main(href="#")  Tools
				a.menu_left__link(href="#") Maintenance kit
				a.menu_left__link(href="#") Tools Bag
				a.menu_left__link(href="#") Tools Pack
				a.menu_left__link(href="#") Tools
				hr
				a.menu_left__link.menu_left__link--main(href="#")  Accessories
				a.menu_left__link(href="#") Backup Guard
				a.menu_left__link(href="#") Modeling Mesh
				a.menu_left__link(href="#") Motor Accessories
				a.menu_left__link(href="#") Lock Strap
				a.menu_left__link(href="#") Team Accessories
				hr
				a.menu_left__link.menu_left__link--main(href="#")  Discontinued
				a.menu_left__link(href="#") Motors
				a.menu_left__link(href="#") Accessories
				a.menu_left__link(href="#") Scratch and Dent
				a.menu_left__link(href="#") Electronic Speed Controllers
				hr
				a.menu_left__link.menu_left__link--main(href="#")  Clearance
				a.menu_left__link(href="#") Motor
				a.menu_left__link(href="#") Accessories
				a.menu_left__link(href="#") FPV Racer
				a.menu_left__link(href="#") Electronic Speed Controllers