extends ../_template

block variables
	- var title = 'Support page'

block content
	+breadcrumbs(['Home', 'Support'])
	h1 Support
	.support
		.support__item
			a.support__link--img(href="#")
				i.icon_buy
			.support__info
				a.support__link(href="#") Where to buy
				p.support__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada odio sed lacus volutpat, sit amet cursus tortor rutrum.Nunc eu feugiat elit, in ullamcorper elit.
		.support__item
			a.support__link--img(href="#")
				i.icon_downloads
			.support__info
				a.support__link(href="#") Downloads
				p.support__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada odio sed lacus volutpat, sit amet cursus tortor rutrum.Nunc eu feugiat elit, in ullamcorper elit.
		.support__item
			a.support__link--img(href="#")
				i.icon_review
			.support__info
				a.support__link(href="#") Technical Review
				p.support__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada odio sed lacus volutpat, sit amet cursus tortor rutrum.Nunc eu feugiat elit, in ullamcorper elit.
				