extends ../_template

block variables
	- var title = 'Team page'

block content
	+breadcrumbs(['Home', 'About Us', 'Team Scorpion'])
	h1 Team Scorpion
	.team
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team1.jpg")
			.team__name A C Glenn
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team2.jpg")
			.team__name 何健強
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team3.jpg")
			.team__name Alex Wiehenstroth
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team4.jpg")
			.team__name Alexandre BOSSO
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team5.jpg")
			.team__name Alon Barak
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team6.jpg")
			.team__name Alvin Chai
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team7.jpg")
			.team__name Andreas Daving
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team8.jpg")
			.team__name Antoni Caretti
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team9.jpg")
			.team__name Araya Ingwethvongsa
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team10.jpg")
			.team__name 梁起
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team11.jpg")
			.team__name 潘磊
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team12.jpg")
			.team__name Benjamin BOSSO
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team1.jpg")
			.team__name A C Glenn
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team2.jpg")
			.team__name 何健強
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team3.jpg")
			.team__name Alex Wiehenstroth
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team4.jpg")
			.team__name Alexandre BOSSO
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team5.jpg")
			.team__name Alon Barak
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team6.jpg")
			.team__name Alvin Chai
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team7.jpg")
			.team__name Andreas Daving
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team8.jpg")
			.team__name Antoni Caretti
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team9.jpg")
			.team__name Araya Ingwethvongsa
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team10.jpg")
			.team__name 梁起
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team11.jpg")
			.team__name 潘磊
		a.team__item(href="#")
			.team__image
				img(src="assets/img/team12.jpg")
			.team__name Benjamin BOSSO		