extends ../_template

block variables
	- var title = 'Technical Review/Support page'

block content
	+breadcrumbs(['Home', 'Support', 'Technical Review/Support'])
	h1 Technical Review/Support
	.techreview
		.techreview__item
			a.techreview__image_link(href="#")
				img.techreview__image(src="assets/img/i-text-black.svg")
			.techreview__info
				a.techreview__link(href="#") RS-3420 motor Bearing Maintenance kit Tutorial
		.techreview__item
			a.techreview__image_link(href="#")
				img.techreview__image(src="assets/img/i-text-black.svg")
			.techreview__info
				a.techreview__link(href="#") S3020 Build and Review
				.techreview__text (by Dr. Ralph Okon, AKA PowerCroco)
		.techreview__item
			a.techreview__image_link(href="#")
				img.techreview__image(src="assets/img/i-text-black.svg")
			.techreview__info
				a.techreview__link(href="#") HKII-42 & HK-45 series motor Bearing Maintenance kit Tutorial
		.techreview__item
			a.techreview__image_link(href="#")
				img.techreview__image(src="assets/img/i-video-black.svg")
			.techreview__info
				a.techreview__link(href="#") S3020 Build and Review
				.techreview__text (by Dr. Ralph Okon, AKA PowerCroco)
		.techreview__item
			a.techreview__image_link(href="#")
				img.techreview__image(src="assets/img/i-video-black.svg")
			.techreview__info
				a.techreview__link(href="#") How to Program a Scorpion Commander V 50V Series Speed Controller (SBEC)
		.techreview__item
			a.techreview__image_link(href="#")
				img.techreview__image(src="assets/img/i-video-black.svg")
			.techreview__info
				a.techreview__link(href="#") How to Oil the Bearings of Scorpion Motor
		.techreview__item
			a.techreview__image_link(href="#")
				img.techreview__image(src="assets/img/i-text-black.svg")
			.techreview__info
				a.techreview__link(href="#") Scorpion Backup Guard Review
				.techreview__text By Mr. Mel
		.techreview__item
			a.techreview__image_link(href="#")
				img.techreview__image(src="assets/img/i-text-black.svg")
			.techreview__info
				a.techreview__link(href="#") How to Change the Shaft & Bearings in a Scorpion Motor
		.techreview__item
			a.techreview__image_link(href="#")
				img.techreview__image(src="assets/img/i-text-black.svg")
			.techreview__info
				a.techreview__link(href="#") HK-4225 Build and Review
				.techreview__text (by Dr. Ralph Okon, AKA PowerCroco)
		.techreview__item
			a.techreview__image_link(href="#")
				img.techreview__image(src="assets/img/i-video-black.svg")
			.techreview__info
				a.techreview__link(href="#") How to Program a Scorpion Commander Speed Controller
		.techreview__item
			a.techreview__image_link(href="#")
				img.techreview__image(src="assets/img/i-text-black.svg")
			.techreview__info
				a.techreview__link(href="#") HK-4035 Build and Review
				.techreview__text (by Dr. Ralph Okon, AKA PowerCroco)
		