extends ../_template

block variables
	- var title = 'Where to buy continent page'

block content
	+breadcrumbs(['Home', 'About Us', 'Where to buy', 'North America'])
	h1 North America
	.where.where_left
		h2 Aircraft
		.table_wrap
			table.table.table_small.where__table
				tbody
					tr
						th Territory
						th Distribution Level
						th Company
						th Contact Person
						th Tel #
						th Website
						th Email address
					tr
						td Canada
						td Distributor
						td Great Hobbies Inc
						td Jim Soutar
						td +1-800-839-3262
						td 
							a(href="#") www.greathobbies.com 
						td 
							a(href="#") scorpion@greathobbies.com 
					tr
						td Canada
						td Dealer
						td RotorQuest
						td Shawn
						td +1-866-517-5251
						td 
							a(href="#") www.rotorquest.com 
						td 
							a(href="#") sale@rotorquest.com 
					tr
						td Puerto Rico
						td Distributor
						td RC Galore
						td Felipe Vidal
						td +1-787-661-5333
						td 
							a(href="#") www.rcgalore.net 
						td 
							a(href="#") rcgalore@gmail.com 
					tr
						td USA
						td Distributor
						td Innov8tive Designs
						td Lucien Miller
						td +1-760-468-8838&nbsp;
						td 
							a(href="#") www.innov8tivedesigns.com 
						td 
							a(href="#") sales@innov8tivedesigns.com 
					tr
						td USA
						td Distributor
						td Empire Hobby, LLC
						td David Sobel
						td +1 480-982-0909&nbsp;
						td 
							a(href="#") www.empirerc.com 
						td 
							a(href="#") info@empirerc.com 
					tr
						td USA
						td Dealer
						td Experience RC
						td Sales
						td +1-989-488-7813&nbsp;
						td 
							a(href="#") www.experiencerc.com 
						td 
							a(href="#") orders@experiencerc.com 
		h2 Car
		.table_wrap
			table.table.table_small.where__table
				tbody
					tr
						th Territory
						th Distribution Level
						th Company
						th Contact Person
						th Tel #
						th Website
						th Email address
					tr
						td USA
						td Distributor
						td Payless Hobby
						td Tony Tam
						td +1-909-638-5038
						td
							a(href="#") www.scorpioncarsystem.com
						td
							a(href="#") sideduck2000@yahoo.com
							br
							| 20687 Amar Road #2-326, 
							br
							| Walnut, U.S.A 
							br
							| Post Code: CA91789
			