extends ../_template

block variables
	- var title = 'Where to buy page'

block content
	+breadcrumbs(['Home', 'About Us', 'Where to buy'])
	h1 Where to buy
	.where
		.where__regions
			button.button North America
			button.button South America
			button.button Europe
			button.button Africa
			button.button Oceania
			button.button Asia
		p Do you want us to add your company profile if you are carrying Scorpion?  Just contact us at 
			a(href="mailto:support@spihk.com") support@spihk.com
			|  for details.
		img.where__map(src="assets/img/map.jpg")