@mixin desktop() {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin tablets_land() {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

@mixin tablets() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: 674px) {
    @content;
  }
}