$transition: ease-in-out .2s;
$buttonColor: #e32d3a;
$buttonColorHover: #f7414e;
$buttonColorActive: #cf1926;
$buttonGreyColor: #555555;
$buttonGreyColorHover: #6e6e6e;
$buttonGreyColorActive: #414141;
$buttonGreenColor: #59b200;
$buttonGreenColorHover: #59b200;
$buttonGreenColorActive: #459e00;